// Body
$body-bg: #f8fafc;

// Typography
@import url('https://fonts.googleapis.com/css2?family=Martel:wght@700&display=swap');

$font-family-sans-serif: 'Nunito', sans-serif;
$headings-font-family: 'Nunito';
$font-size-base: 1rem;
$line-height-base: 1.6;
$headings-font-weight: 700 !default;
$enable-responsive-font-sizes: true !default;

//$font-size-base: 0.9rem;
//$line-height-base: 1.6;

$theme-colors: (
    "primary": #f06292,
    "secondary": #212121,
);



// Colors
/*$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;*/
