// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

.custom-shape-divider-bottom-1625769054 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1625769054 svg {
    position: relative;
    display: block;
    width: calc(105% + 1.3px);
    height: 75px;
}

.custom-shape-divider-bottom-1625769054 .shape-fill {
    fill: #FACDDD;
}
// --
.custom-shape-divider-top-1628632608 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1628632608 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 53px;
}

.custom-shape-divider-top-1628632608 .shape-fills {
    fill: #FACDDD;
}
.bg-rose{
    background-color: #FACDDD;
}
.publicText{
    font-family: 'Martel';
}
// Bootstrap
@import '~bootstrap/scss/bootstrap';
