<template>
    <div>
        <v-container>
            <v-row  class="pt-md-12">
                <v-col class="d-flex justify-center">
                    <h3>Hola {{$page.props.auth.user.name}}, estos son los indicadores para ti.</h3>
                </v-col>
            </v-row>
            <v-row>
                <v-col  class="d-flex justify-center pt-10" md="8" sm="12">
                    <v-row>
                        <v-col  sm="12" md="6">
                          <v-skeleton-loader
                              v-if="loadingDailySales"
                              class="mx-auto"
                              max-width="344"
                              min-width="200"
                              type="image"
                          />
                            <v-card v-else class="mx-auto" max-width="344" min-width="200"  outlined>
                                <v-list-item three-line>
                                    <v-list-item-content>
                                        <div class="text-overline mb-4" style="width: 100%">
                                            <span>Ventas diarias</span>
                                            <span class="pl-5 reload-button">
                                              <v-btn  text  icon x-small @click="kpisReloader('dailySales')">
                                                <v-icon dense >mdi-reload</v-icon>
                                              </v-btn>
                                            </span>
                                        </div>
                                        <div class="d-flex">
                                            <p class="text-h3 mt-2 ml-6 ">{{ dailySales.dailySalesCount }}</p>
                                            <span v-if="dailySales.dailySalesCount!=='00'" class="pl-8 text-muted align-self-center">
                                                <h3><small>{{ dailySales.dailySalesAmount }} </small></h3>
                                                <p style="padding-top: -10px"><small>Quetzales</small></p>
                                            </span>
                                            <span v-else class="pl-8 text-muted align-self-center">
                                                    <p style="padding-top: -10px"><small>sin ventas</small></p>
                                            </span>
                                        </div>
                                    </v-list-item-content>
                                    <div>
                                        <v-divider></v-divider>
                                    </div>
                                    <v-img
                                        class="pt-5"
                                        max-height="60"
                                        max-width="60"
                                        src="/images/icons/ventas diarias.png"
                                    ></v-img>
                                </v-list-item>
                                <v-card-actions>
                                      <v-btn  text block @click="handleNavigation('reports.salesHistory')">
                                        ver detalle
                                      </v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-col>
                        <v-col  sm="12" md="6">
                          <v-skeleton-loader
                              v-if="loadingTotalCustomers"
                              class="mx-auto"
                              max-width="344"
                              min-width="200"
                              type="image"
                          />
                            <v-card v-else class="mx-auto" max-width="344" min-width="200"  outlined>
                                <v-list-item three-line>
                                    <v-list-item-content>
                                        <div class="text-overline mb-4">
                                            Clientes Totales
                                            <span class="pl-5 reload-button">
                                                <v-btn  text  icon x-small @click="kpisReloader('totalCustomers')">
                                                  <v-icon dense >mdi-reload</v-icon>
                                                </v-btn>
                                              </span>
                                        </div>
                                        <div class="d-flex">
                                            <p class="text-h3 mt-2 ml-6">{{ totalCustomers }}</p>
                                            <span class="pl-8 text-muted align-self-center">
                                                <h3><small>Personas</small></h3>
                                            </span>
                                        </div>
                                    </v-list-item-content>
                                    <div>
                                        <v-divider></v-divider>
                                    </div>
                                    <v-img
                                        max-height="60"
                                        max-width="60"
                                        src="/images/icons/clientes.png"
                                    ></v-img>
                                </v-list-item>
                                <v-card-actions>
                                    <v-btn  text block @click="handleNavigation('customers.index')">
                                        ver detalle
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-col>
                        <v-col  sm="12" md="6">
                          <v-skeleton-loader
                              v-if="loadingMonthlySales"
                              class="mx-auto"
                              max-width="344"
                              min-width="200"
                              type="image"
                          />
                          <v-card v-else class="mx-auto" max-width="344" min-width="200"  outlined>
                              <v-list-item three-line>
                                  <v-list-item-content>
                                      <div class="text-overline mb-4">
                                          Ventas mensuales
                                        <span class="pl-5 reload-button">
                                          <v-btn  text  icon x-small @click="kpisReloader('monthlySales')">
                                            <v-icon dense >mdi-reload</v-icon>
                                          </v-btn>
                                        </span>
                                      </div>
                                      <div class="d-flex">
                                          <p class="text-h3 mt-2 ml-6">{{ monthlySales.monthlySalesCount}}</p>
                                          <span v-if="monthlySales.monthlySalesCount!=='00'" class="pl-8 text-muted align-self-center">
                                            <h3><small>{{ monthlySales.monthlySalesAmount}}</small></h3>
                                            <p style="padding-top: -10px"><small>Quetzales</small></p>
                                          </span>
                                          <span v-else class="pl-8 text-muted align-self-center">
                                            <p style="padding-top: -10px"><small>sin ventas</small></p>
                                          </span>
                                      </div>
                                  </v-list-item-content>
                                  <div>
                                      <v-divider></v-divider>
                                  </div>
                                  <v-img
                                      max-height="60"
                                      max-width="60"
                                      src="/images/icons/ventas.png"
                                  ></v-img>
                              </v-list-item>
                              <v-card-actions>
                                  <v-btn  text block @click="handleNavigation('reports.salesHistory',true)">
                                      ver detalle
                                  </v-btn>
                              </v-card-actions>
                          </v-card>
                        </v-col>
                        <v-col  sm="12" md="6">
                          <v-skeleton-loader
                              v-if="loadingMonthlyPurchases"
                              class="mx-auto"
                              max-width="344"
                              min-width="200"
                              type="image"
                          />
                            <v-card v-else class="mx-auto" max-width="344" min-width="200"  outlined>
                                <v-list-item three-line>
                                    <v-list-item-content>
                                        <div class="text-overline mb-4">
                                            Compras Mensuales
                                          <span class="pl-5 reload-button">
                                            <v-btn  text  icon x-small @click="kpisReloader('monthlyPurchases')">
                                              <v-icon dense >mdi-reload</v-icon>
                                            </v-btn>
                                          </span>
                                        </div>
                                        <div class="d-flex">
                                            <p class="text-h3 mt-2 ml-6">{{ monthlyPurchases.monthlyPurchaseCount}}</p>
                                            <span v-if="monthlyPurchases.monthlyPurchaseCount!=='00'" class="pl-8 text-muted align-self-center">
                                                <h3><small>{{ monthlyPurchases.monthlyPurchaseAmount}}</small></h3>
                                                <p style="padding-top: -10px"><small>Quetzales</small></p>
                                            </span>
                                            <span v-else class="pl-8 text-muted align-self-center">
                                              <p style="padding-top: -10px"><small>sin ventas</small></p>
                                            </span>
                                        </div>
                                    </v-list-item-content>
                                    <div>
                                        <v-divider></v-divider>
                                    </div>
                                    <v-img
                                        max-height="60"
                                        max-width="60"
                                        src="/images/icons/compras.png"
                                    ></v-img>
                                </v-list-item>
                                <v-card-actions>
                                    <v-btn  text block @click="handleNavigation('reports.purchasesHistory',true)">
                                        ver detalle
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-col>
                    </v-row>
                </v-col>
                <v-col class="pt-10" md="4" sm="12">
                  <v-skeleton-loader
                      v-if="loadingProducts"
                      class="mx-auto"
                      max-width="395"
                      min-width="395"
                      min-height="420"
                      max-height="420"
                      type="table-heading, table-thead, table-tbody"
                  />
                  <v-card v-else outlined>
                        <v-list-item>
                            <v-list-item-content>
                                <div class="text-overline mb-4">
                                    <span>Productos con alerta de stock</span>
                                    <span class="pl-5 reload-button">
                                      <v-btn  text  icon x-small @click="kpisReloader('lowStock')">
                                        <v-icon dense >mdi-reload</v-icon>
                                      </v-btn>
                                    </span>
                                </div>
                            </v-list-item-content>
                        </v-list-item>
                        <v-list-item>
                            <v-list-item-content v-if="products.length>0">
                                <v-simple-table fixed-header height="330px">
                                    <template v-slot:default>
                                        <thead>
                                        <tr>
                                            <th class="text-left">
                                                Producto
                                            </th>
                                            <th class="text-left">
                                                unidades disponibles
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr
                                            v-for="item in products"
                                            :key="item.name"
                                        >
                                            <td>{{ item.name }}</td>
                                            <td>{{ item.stock }}</td>
                                        </tr>
                                        </tbody>
                                    </template>
                                </v-simple-table>
                            </v-list-item-content>
                            <v-list-item-content v-else>
                              <v-list-item-content class="py-15 d-flex justify-center" align="center" style="min-height: 326px">
                                <v-img
                                    max-height="60"
                                    max-width="60"
                                    src="/images/icons/feliz.png"
                                    position="center center"
                                ></v-img>
                                <p class="pt-3">{{$page.props.auth.user.name}}, Parece que no hay ningun producto con alerta de existencias.</p>
                              </v-list-item-content>
                            </v-list-item-content>
                        </v-list-item>
                    </v-card>
                </v-col>
            </v-row>
        </v-container>
    </div>
</template>

<script>
export default {
    name: "dash_admin",
    props: ['dateMonthStart','dateMonthEnd'],
    data () {
        return {
          products: [],
          dailySales:{
            dailySalesCount:'',
            dailySalesAmount:'',
          },
          monthlySales:{
            monthlySalesCount:'',
            monthlySalesAmount:'',
            },
          monthlyPurchases:{
            monthlyPurchaseCount:'',
            monthlyPurchaseAmount:'',
            },
          totalCustomers:'',
          loadingMonthlyPurchases: true,
          loadingMonthlySales: true,
          loadingDailySales: true,
          loadingProducts: true,
          loadingTotalCustomers: true,
        }
    },
    created() {
      this.getDailySales()
      this.getTotalCustomers()
      this.getslowStock()
      this.getMonthlySales()
      this.getMonthlyPurchases()
    },
    computed:{
    },
    methods:{
        kpisReloader(kpiName){
          if(kpiName==='dailySales'){
            this.loadingDailySales = true
            this.getDailySales()
          }else if(kpiName==='monthlySales'){
            this.loadingMonthlySales = true
            this.getMonthlySales()
          }else if(kpiName==='monthlyPurchases'){
            this.loadingMonthlyPurchases = true
            this.getMonthlyPurchases()
          }else if(kpiName==='lowStock'){
            this.loadingProducts = true
            this.getslowStock()
          }else if(kpiName==='totalCustomers'){
            this.loadingTotalCustomers = true
            this.getTotalCustomers()
          }
        },
        handleNavigation(routeApp,monthly){
          if(monthly){
            this.$inertia.get(route(routeApp),{
              searchDateFrom: this.dateMonthStart,
              searchDateTo: this.dateMonthEnd,
            })
          }else{
            this.$inertia.get(route(routeApp))
          }
        },
        async getDailySales() {
          try {
            const response = await axios.get(route('dashboard.dailySales'))
            this.dailySales.dailySalesCount  = response.data.dailySalesCount
            this.dailySales.dailySalesAmount  = response.data.dailySalesAmount
            if(response){
              this.loadingDailySales = false
            }
          }
          catch (error) {
            console.log(error);
          }
        },
        async getMonthlySales() {
          try {
            const response = await axios.get(route('dashboard.monthlySales'))
            this.monthlySales.monthlySalesCount  = response.data.monthlySalesCount
            this.monthlySales.monthlySalesAmount  = response.data.monthlySalesAmount
            if(response){
              this.loadingMonthlySales = false
            }
          }
          catch (error) {
            console.log(error);
          }
        },
        async getMonthlyPurchases() {
          try {
            const response = await axios.get(route('dashboard.monthlyPurchases'))
            this.monthlyPurchases.monthlyPurchaseCount  = response.data.monthlyPurchaseCount
            this.monthlyPurchases.monthlyPurchaseAmount  = response.data.monthlyPurchaseAmount
            if(response){
              this.loadingMonthlyPurchases = false
            }
          }
          catch (error) {
            console.log(error);
          }
        },
        async getslowStock() {
            try {
              const response = await axios.get(route('dashboard.lowStockProducts'))
              this.products = response.data.products
              if(response){
                  console.log(response);
                  this.loadingProducts = false
              }
            }
            catch (error) {
              console.log(error);
            }
        },
        async getTotalCustomers() {
          try {
            const response = await axios.get(route('dashboard.totalCustomers'))
            this.totalCustomers = response.data.totalCustomers
            if(response){
              this.loadingTotalCustomers = false
            }
          }
          catch (error) {
            console.log(error);
          }
        },
      }
}
</script>

<style scoped>
  .reload-button{
    position: absolute;
    right: 13px;
    top: 0px;
  }
</style>
