<template>
    <div>
        <v-container>
            <v-row align="center" align-self="center" class="pt-15">
                <v-col cols="12" md="12" sm="12" align="center" align-self="center" >
                    <v-card class="py-10">
                        <v-img
                            class="pt-5"
                            max-height="400"
                            max-width="400"
                            src="/images/hello.png"
                        ></v-img>
                        <h4 class="primary--text">Bienvenida {{$page.props.auth.user.name}}</h4>
                        <h6 class="py-2 text-muted">Hoy será un gran dia.</h6>
                    </v-card>
                </v-col>
            </v-row>
        </v-container>
    </div>
</template>

<script>
export default {
    name: "dash_worker"
}
</script>

<style scoped>

</style>
