<template>
    <div>
        <dash_worker v-if="$page.props.auth.user.permission.includes('private.dashboard.employee')"/>
        <dash_admin v-else-if="$page.props.auth.user.permission.includes('private.dashboard.admin')"
            :date-month-start="dateMonthStart"
            :date-month-end="dateMonthEnd"
        >
        </dash_admin>
    </div>
</template>
<script>
import dash_admin from "./Partials/dash_admin";
import dash_worker from "./Partials/dash_worker";
export default {
    name: "Index",
    metaInfo: {
        title: 'Dashboard',
    },
    props: ['dateMonthStart','dateMonthEnd'],
    components:{
        dash_admin,
        dash_worker
    }
}
</script>

<style scoped>

</style>
