<template>
    <div>
        <v-container fluid>
            <v-row>
                <v-col sm="12" md="12" class="d-inline-flex">
                    <v-row>
                        <v-col cols="6" sm="6" md="6">
                            <h3>Catalogo de productos</h3>
                        </v-col>
                        <v-col align="end" cols="6" sm="6" md="6">
                            <v-dialog v-model="dialog" max-width="900px" persistent>
                                <template v-slot:activator="{ on, attrs }">
                                    <v-btn v-if="$page.props.auth.user.permission.includes('products.new')" color="primary" dark class="mb-2 float-right" v-bind="attrs" v-on="on">
                                        Nuevo
                                    </v-btn>
                                </template>
                                <v-card>
                                    <v-card-title>
                                        <span class="text-h5">{{ formTitle }}</span>
                                    </v-card-title>

                                    <v-card-text>
                                        <v-form ref="formModal" lazy-validation>
                                            <v-container>
                                                <v-row no-gutters>
                                                    <v-col cols="12" sm="12" md="8" align-self="center">
                                                        <v-text-field
                                                            filled
                                                            background-color="grey lighten-5"
                                                            :disabled="viewOnly"
                                                            readonly
                                                            v-model="editedItem.internalCode"
                                                            label="Codigo"
                                                            hint="se genera automaticamente"
                                                            persistent-hint
                                                        ></v-text-field>
                                                        <v-text-field
                                                            :disabled="viewOnly"
                                                            v-model="editedItem.name"
                                                            label="Nombre"
                                                            :rules="[rules.required]"
                                                            @change="generateCode"
                                                        ></v-text-field>
                                                    </v-col>
                                                    <v-col cols="12" sm="12" md="3" offset-md="1" class="justify-center" align-self="center">

                                                            <div class="justify-center" v-show="!changingImage">
                                                                <div class="pl-md-3">
                                                                    <v-img
                                                                        max-width="184.5"
                                                                        max-height="184.5"
                                                                        :src="this.url"
                                                                    ></v-img>
                                                                </div>
                                                                <div class="pt-3 justify-center">
                                                                    <v-btn v-if="!editedItem.id"  small block text color="primary" @click="changingImage=true" align="center" >
                                                                        seleccionar imagen
                                                                    </v-btn>
                                                                    <v-btn v-else small block :disabled="viewOnly" text color="primary" @click="handleChangeExistedImage" align="center" >
                                                                        cambiar imagen
                                                                    </v-btn>
                                                                </div>
                                                            </div>
                                                            <div class="justify-center" v-show="changingImage">
                                                                <croppa
                                                                    class="pb-4"
                                                                    v-model="myCroppa"
                                                                    :width="200"
                                                                    :height="200"
                                                                    placeholder="Toca para aquí para buscar."
                                                                    :placeholder-font-size="14"
                                                                    :accept="'image/*'"
                                                                    prevent-white-space
                                                                    remove-button-color="black"
                                                                ></croppa>
                                                                <div class="pt-3 justify-center">
                                                                    <v-row>
                                                                        <v-col cols="6" sm="6" md="6">
                                                                            <v-btn small block text color="primary" @click="getImageResize" align="center" >
                                                                                <span v-if="editedItem.id">aceptar</span>
                                                                                <span v-else>Guardar</span>
                                                                            </v-btn>
                                                                        </v-col>
                                                                        <v-col cols="6" sm="6" md="6">
                                                                            <v-btn v-if="!editedItem.id" small block text color="grey" @click="changingImage=false" align="center" >
                                                                                cancelar
                                                                            </v-btn>
                                                                            <v-btn v-else small block text color="grey" @click="handleCancelChangeExistedImage" align="center" >
                                                                                anterior
                                                                            </v-btn>
                                                                        </v-col>
                                                                    </v-row>
                                                                </div>
                                                            </div>

                                                    </v-col>
                                                </v-row>
                                                <v-row>
                                                    <v-col cols="12" sm="12" md="12">
                                                        <v-text-field
                                                            :disabled="viewOnly"
                                                            v-model="editedItem.description"
                                                            label="Descripción"
                                                        ></v-text-field>
                                                    </v-col>
                                                    <v-col cols="12" sm="12" md="4">
                                                        <v-row no-gutters>
                                                            <v-col cols="9" sm="9" md="9">
                                                                <v-select
                                                                    v-model="editedItem.productBrand_id"
                                                                    :disabled="viewOnly"
                                                                    :items="brands"
                                                                    item-text="name"
                                                                    item-value="id"
                                                                    label="Marca"
                                                                    hint="selecciona la marca para este producto."
                                                                    :rules="[rules.required]"
                                                                    @change="generateCode"
                                                                ></v-select>
                                                            </v-col>
                                                            <v-col cols="3" sm="3" md="3" align-self="center" class="justify-start">
                                                                <v-btn plain small dark color="grey lighten-1" @click="openHybridDialog('brand')">
                                                                    <v-icon>mdi-plus</v-icon>
                                                                </v-btn>
                                                            </v-col>
                                                        </v-row>
                                                    </v-col>
                                                    <v-col cols="12" sm="12" md="4">
                                                        <v-row no-gutters>
                                                            <v-col cols="9" sm="9" md="9">
                                                                <v-select
                                                                    clearable
                                                                    v-model="editedItem.productCategory_id"
                                                                    :disabled="viewOnly"
                                                                    :items="categories"
                                                                    item-text="name"
                                                                    item-value="id"
                                                                    label="Categoria"
                                                                    hint="selecciona a que categoria pertenece este producto."
                                                                    :rules="[rules.required]"
                                                                ></v-select>
                                                            </v-col>
                                                            <v-col cols="3" sm="3" md="3" align-self="center" class="justify-start">
                                                                <v-btn plain small dark color="grey lighten-1" @click="openHybridDialog('category')">
                                                                    <v-icon>mdi-plus</v-icon>
                                                                </v-btn>
                                                            </v-col>
                                                        </v-row>
                                                    </v-col>
                                                    <v-col cols="12" sm="12" md="4">
                                                        <v-row no-gutters>
                                                            <v-col cols="9" sm="9" md="9">
                                                                <v-select
                                                                    v-model="editedItem.productGroup_id"
                                                                    :disabled="viewOnly"
                                                                    :items="groups"
                                                                    item-text="name"
                                                                    item-value="id"
                                                                    label="Grupo"
                                                                    hint="selecciona a que grupo pertenece este producto."
                                                                    :rules="[rules.required]"
                                                                ></v-select>
                                                            </v-col>
                                                            <v-col cols="3" sm="3" md="3" align-self="center" class="justify-start">
                                                                <v-btn plain small dark color="grey lighten-1" @click="openHybridDialog('group')">
                                                                    <v-icon>mdi-plus</v-icon>
                                                                </v-btn>
                                                            </v-col>
                                                        </v-row>
                                                    </v-col>

                                                    <v-col cols="12" sm="12" md="4">
                                                        <v-row no-gutters>
                                                            <v-col cols="9" sm="9" md="9">
                                                                <v-select
                                                                    v-model="editedItem.measurementUnit_id"
                                                                    :disabled="viewOnly"
                                                                    :items="measurementUnits"
                                                                    item-text="name"
                                                                    item-value="id"
                                                                    label="Unidad de medida"
                                                                    hint="selecciona la unidad de medida para este producto."
                                                                    :rules="[rules.required]"
                                                                ></v-select>
                                                            </v-col>
                                                            <v-col cols="3" sm="3" md="3" align-self="center" class="justify-start">
                                                                <v-btn plain small dark color="grey lighten-1" @click="openHybridDialog('measurementUnit')">
                                                                    <v-icon>mdi-plus</v-icon>
                                                                </v-btn>
                                                            </v-col>
                                                        </v-row>
                                                    </v-col>
                                                    <v-col cols="12" sm="12" md="4">
                                                        <v-text-field
                                                            :disabled="viewOnly"
                                                            v-model="editedItem.quantityAlert"
                                                            label="Cantidad minima en inventario"
                                                            :rules="[rules.required,rules.number]"
                                                            hint="Se mostrará una alerta al llegar a esta cantidad"
                                                        ></v-text-field>
                                                    </v-col>
                                                    <v-col cols="12" sm="12" md="4">
                                                        <v-switch
                                                            :disabled="viewOnly"
                                                            v-model="editedItem.discountEnabled"
                                                            label="Aplica para descuento"
                                                        ></v-switch>
                                                    </v-col>
                                                    <v-col cols="12" sm="12" md="4" v-if="$page.props.auth.user.permission.includes('private.dashboard.admin')">
                                                        <v-text-field
                                                            :disabled="viewOnly"
                                                            v-model="editedItem.purchasePrice"
                                                            label="Precio de compra"
                                                            :rules="[rules.price]"
                                                            @change="calculateEconomicGains"
                                                            hint="formato: 00.00"
                                                        ></v-text-field>
                                                    </v-col>
                                                    <v-col cols="12" sm="12" md="4">
                                                        <v-text-field
                                                            :disabled="viewOnly"
                                                            v-model="editedItem.salePrice"
                                                            label="Precio de venta"
                                                            :rules="[rules.required,rules.price]"
                                                            @change="calculateEconomicGains"
                                                            hint="formato: 00.00"
                                                        ></v-text-field>
                                                    </v-col>
                                                    <v-col cols="12" sm="12" md="4" v-if="$page.props.auth.user.permission.includes('private.dashboard.admin')">
                                                        <v-text-field
                                                            v-if="$page.props.auth.user.permission.includes('private.dashboard.admin')"
                                                            :disabled="viewOnly"
                                                            readonly
                                                            v-model="editedItem.economicGains"
                                                            label="Ganancia"
                                                        ></v-text-field>
                                                    </v-col>
                                                    <v-col cols="12" sm="12" md="6">
                                                        <v-switch
                                                            v-if="!editedItem.id"
                                                            v-model="editedItem.booleanInitalQuantity"
                                                            label="¿Cargar cantidad inicial al inventario?"
                                                        ></v-switch>
                                                    </v-col>
                                                    <v-col cols="12" sm="12" :md="$page.props.auth.user.permission.includes('private.dashboard.admin')?6:4">
                                                        <v-text-field
                                                            v-if="!editedItem.id && editedItem.booleanInitalQuantity===true"
                                                            :disabled="viewOnly"
                                                            v-model="editedItem.initialQuantity"
                                                            label="Cantidad inicial"
                                                            :rules="[rules.number]"
                                                        ></v-text-field>
                                                    </v-col>
                                                </v-row>
                                            </v-container>
                                        </v-form>
                                    </v-card-text>

                                    <v-card-actions>
                                        <v-spacer></v-spacer>
                                        <v-btn color="secondary" text @click="closeDialog('dialogEdit')" >
                                             <span v-if="!viewOnly">Cancelar</span>
                                            <span v-else>Cerrar</span>
                                        </v-btn>
                                        <v-btn color="primary" dark @click="save" v-show="!viewOnly">
                                            Guardar
                                        </v-btn>
                                    </v-card-actions>
                                </v-card>
                            </v-dialog>
                            <v-dialog v-if="$page.props.auth.user.permission.includes('products.destroy')" v-model="dialogDelete" max-width="500px" persistent >
                                <v-card>
                                    <v-list-item class="p-0" >
                                        <v-list-item-content class="pt-8 d-flex justify-center" align="center">
                                            <v-img
                                                max-height="60"
                                                max-width="60"
                                                src="/images/icons/precaucion.png"
                                                position="center center"
                                            ></v-img>
                                            <p class="pt-3">¿{{$page.props.auth.user.name}}, Realmente deseas eliminar este grupo de producto?</p>
                                        </v-list-item-content>
                                    </v-list-item>
                                    <v-card-actions >
                                        <v-spacer></v-spacer>
                                        <v-btn color="secondary" text @click="closeDialog('dialogDelete')">Cancelar</v-btn>
                                        <v-btn color="primary" text @click="deleteItemConfirm">Si, Eliminar</v-btn>
                                        <v-spacer></v-spacer>
                                    </v-card-actions>
                                </v-card>
                            </v-dialog>
                        </v-col>
                    </v-row>
                </v-col>
                <v-col sm="12" md="12">
                    <v-card>
                        <v-data-table
                            :headers="headers"
                            :items="products"
                            :search="search"
                            :loading="loadTable"
                            :items-per-page=5
                            loading-text="Un momento por favor..."
                            no-results-text="Lo sentimos no se ha encontrado una grupo de producto con esos datos de busqueda."

                            :header-props="{'sort-by-text':'Ordenar por'}"
                            :footer-props="{'items-per-page-text':'productos por página','items-per-page-all-text':'Todos'}"
                            class="elevation-1 p-md-5"
                        >
                            <template v-slot:top class="pb-15">
                                <v-toolbar flat class="pb-15" height="110">
                                    <v-row>
                                        <v-col cols="12" sm="12" md="6" offset-md="3" order="first" order-sm="last" >
                                            <v-text-field
                                                align="center"
                                                v-model="search"
                                                append-icon="mdi-magnify"
                                                label="Busca aquí según las columnas en la tabla."
                                                single-line
                                                hide-details
                                            ></v-text-field>
                                        </v-col>
                                    </v-row>
                                </v-toolbar>
                            </template>
                            <template v-slot:item.discountEnabled="{item}">
                                <v-chip small :color="item.discountEnabled === true? 'pink lighten-4' : 'grey lighten-4'">
                                    <span v-if="item.discountEnabled === true">Habilitado</span>
                                    <span v-else>Deshabilitado</span>
                                </v-chip>
                            </template>
                            <template v-slot:item.actions="{ item }">
                                <v-icon v-if="$page.props.auth.user.permission.includes('products.show')"
                                        small @click="assignItem(item,'dialogEdit','show')">mdi-eye</v-icon>
                                <v-icon v-if="$page.props.auth.user.permission.includes('products.update')"
                                        small class="mr-2" @click="assignItem(item,'dialogEdit','default')">mdi-pencil</v-icon>
                                <v-icon v-if="$page.props.auth.user.permission.includes('products.destroy')"
                                        small  @click="assignItem(item,'dialogDelete','default')">mdi-delete</v-icon>
                            </template>
                            <template v-slot:no-data>
                                <v-list-item class="p-0" >
                                    <v-list-item-content class="py-12 d-flex justify-center" align="center">
                                        <v-img
                                            max-height="60"
                                            max-width="60"
                                            src="/images/icons/feliz.png"
                                            position="center center"
                                        ></v-img>
                                        <p class="pt-3">{{$page.props.auth.user.name}}, Parece que no tienes ningún producto agregado al sistema, puedes agregar uno haciendo clic <span class="primary--text" @click="dialog=true"><strong>aqui</strong></span>.</p>
                                    </v-list-item-content>
                                </v-list-item>
                            </template>
                        </v-data-table>
                        <v-snackbar
                            :color=snackbar_color
                            right top
                            v-model="snackbar"
                            :timeout="timeout"
                        >
                            {{ snackbar_text }}
                            <template v-slot:action="{ attrs }">
                                <v-btn
                                    :color="snackbar_color== 'error' ? 'white':'white'"
                                    text
                                    v-bind="attrs"
                                    @click="snackbar = false"
                                >
                                    cerrar
                                </v-btn>
                            </template>
                        </v-snackbar>
                    </v-card>
                </v-col>
            </v-row>
            <v-dialog v-model="hybridDialog" max-width="500px" persistent>
                <v-card>
                    <v-card-title>
                        <span class="text-h5">{{ formHybridTitle }}</span>
                    </v-card-title>

                    <v-card-text>
                        <v-form ref="formHybridDialog" lazy-validation>
                            <v-container>
                                <v-row>
                                    <v-col cols="12" sm="12" md="12">
                                        <v-text-field
                                            v-model="defaultHybridtItem.name"
                                            label="Nombre"
                                            :rules="[rules.required]"
                                            :hint="typeHybridDialog =='measurementUnit'? 'nombres en plural para gestionar mejor el inventario (cajas, unidades, litros)':''"
                                        ></v-text-field>
                                    </v-col>
                                    <v-col cols="12" sm="12" md="12"  v-if="typeHybridDialog!=='measurementUnit'">
                                        <v-text-field
                                            v-model="defaultHybridtItem.description"
                                            label="Descripción"
                                        ></v-text-field>
                                    </v-col>
                                    <v-col cols="12" sm="12" md="12" v-if="typeHybridDialog==='measurementUnit'">
                                        <v-text-field
                                            v-model="defaultHybridtItem.shortName"
                                            label="Nombre corto"
                                        ></v-text-field>
                                    </v-col>
                                </v-row>
                            </v-container>
                        </v-form>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="secondary" text @click="closeHybridDialog" >
                            <span>Cancelar</span>
                        </v-btn>
                        <v-btn color="primary" dark @click="saveHybridItem()">
                            Guardar
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-container>
    </div>
</template>
<script>
import 'vue-croppa/dist/vue-croppa.css'
export default {
    name: "Index",
    metaInfo: {
        title: 'Catalogo de productos',
    },
    data: () => ({
        menu: false,
        loadTable:true,
        snackbar: false,
        snackbar_text: '',
        snackbar_color: 'error',
        timeout: 5000,
        search: '',
        dialog: false,
        dialogDelete: false,
        viewOnly: false,
        rules: {
            required: value => !!value || 'Debes llenar este campo.',
            price: value => {
                const pattern = /^[0-9]*\.[0-9]{2}$/
                return pattern.test(value) || 'Precio invalido.'
            },
            number: value => {
                const pattern = /^[0-9]*$/
                return pattern.test(value) || 'Debes de ingresar un número.'
            },
        },
        products: [],
        categories: [],
        brands: [],
        groups: [],
        measurementUnits: [],
        editedIndex: -1,
        editedItem: {
            'id':'',
            'name':'',
            'internalCode':'',
            'description':'',
            'salePrice':'',
            'purchasePrice':'',
            'discountEnabled': '',
            'quantityAlert':'',
            'economicGains':'',
            'productCategory_id':'',
            'categoryName':'',
            'productBrand_id':'',
            'brandName':'',
            'productGroup_id':'',
            'groupName':'',
            'measurementUnit_id':'',
            'booleanInitalQuantity': 0,
            'initialQuantity': '',
            'image_url':'',
        },
        defaultItem: {
            'id':'',
            'name':'',
            'internalCode':'',
            'description':'',
            'salePrice':'',
            'purchasePrice':'',
            'discountEnabled': false,
            'quantityAlert':'',
            'economicGains':'',
            'productCategory_id':'',
            'categoryName':'',
            'productBrand_id':'',
            'brandName':'',
            'productGroup_id':'',
            'groupName':'',
            'measurementUnit_id':'',
            'booleanInitalQuantity': 0,
            'initialQuantity': '',
            'image_url':'',

        },
        defaultHybridtItem:{
            'name':'',
            'description':'',
            'shortName':'',
        },
        typeHybridDialog: '',
        hybridDialog: false,
        image: null,
        changingImage:false,
        url : '/images/default-product.png',
        myCroppa: {},
        urlTemp : '',
        changeExistImage: false,
    }),

    computed: {
        formTitle () {
            return this.editedIndex === -1 ? 'Nuevo producto' : this.viewOnly? 'Datos del producto': 'Editar producto'
        },
        formHybridTitle(){
            var title = '';
            if(this.typeHybridDialog === 'category'){
               title ='Nueva categoria'
            }else if(this.typeHybridDialog === 'group'){
                title ='Nuevo grupo'
            }else if(this.typeHybridDialog === 'brand'){
                title ='Nueva marca'
            }else if(this.typeHybridDialog === 'measurementUnit'){
                title ='Nueva unidad de medida'
            }
            return title;
        },
        headers(){
            if( this.$page.props.auth.user.permission.includes('private.dashboard.admin') ){
               return  [
                    /*sortable: false,*/
                    { text: 'Codigo', value: 'internalCode', align: 'start'},
                    { text: 'Nombre', value: 'name' },
                    { text: 'Categoria', value: 'categoryName' },
                    { text: 'Grupo', value: 'groupName' },
                    { text: 'Marca', value: 'brandName' },
                    { text: 'Precio Compra', value: 'purchasePrice' },
                    { text: 'Precio Venta', value: 'salePrice' },
                    { text: 'Descuento', value: 'discountEnabled' },
                    { text: 'Acciones', value: 'actions', sortable: false },
                ]
            }else{
                return  [
                    /*sortable: false,*/
                    { text: 'Codigo', value: 'internalCode', align: 'start'},
                    { text: 'Nombre', value: 'name' },
                    { text: 'Categoria', value: 'categoryName' },
                    { text: 'Grupo', value: 'groupName' },
                    { text: 'Marca', value: 'brandName' },
                    { text: 'Precio Venta', value: 'salePrice' },
                    { text: 'Descuento', value: 'discountEnabled' },
                    { text: 'Acciones', value: 'actions', sortable: false },
                ]
            }
        }
    },
    created () {
        this.getProducts()
        setTimeout(() => this.getCategoriesSelect(),300)
        setTimeout(() => this.getBrandsSelect(),300)
        setTimeout(() => this.getGroupsSelect(),300)
        setTimeout(() => this.getMeasurementsUnitsSelect(),300)
    },
    methods: {

        handleChangeExistedImage(){
            this.changingImage =true
            this.changeExistImage = true;
            this.urlTemp = this.editedItem.image_url
        },
        handleCancelChangeExistedImage(){
            this.changingImage = false
            this.changeExistImage = false
            this.editedItem.image_url = this.urlTemp
            this.url = this.urlTemp
            this.myCroppa.remove()
        },
        getImageResize(){
            let hasImage = this.myCroppa.generateDataUrl()
            if (!hasImage) {
                this.openSnack("Debes seleccionar una imagen antes de guardar.","error")
            }else{
                this.myCroppa.generateBlob((blob) => {
                    this.url = URL.createObjectURL(blob);
                    this.image = blob
                    this.changingImage = false
                }, 'image/jpeg', 0.8)
                this.myCroppa.remove()
            }
        },
        calculateEconomicGains(){
            if( this.editedItem.salePrice!=='' && this.editedItem.purchasePrice!==''){
               this.editedItem.economicGains = parseFloat( parseFloat(this.editedItem.salePrice).toFixed(2) - parseFloat(this.editedItem.purchasePrice).toFixed(2) ).toFixed(2);
               if(this.editedItem.economicGains < 0){
                   this.openSnack("El precio de venta debe de ser mayor al de compra.","error")
                   this.editedItem.economicGains = ''
                   this.editedItem.salePrice = ''
               }
            }else{
                this.editedItem.economicGains = 0
            }
        },
        async generateCode(){
            if(this.editedItem.name && this.editedItem.productBrand_id){
                axios.post(route('products.generateCode'), this.editedItem )
                    .then( response => {
                        this.editedItem.internalCode= response.data.code
                    })
                    .catch(error =>{
                        this.openSnack("ha ocurrido un error al momento de generar el codigo del producto, por favor comuniquese con el administrador del sistema.","error")
                        console.log(error)
                    })
            }
        },
        openHybridDialog(type){
            this.typeHybridDialog = type
            this.hybridDialog = true
        },
        closeHybridDialog(){
            this.$refs.formHybridDialog.resetValidation()
            this.hybridDialog = false
            this.defaultHybridtItem.name=''
            this.defaultHybridtItem.description=''
            this.defaultHybridtItem.shortName=''
            setTimeout(() => this.typeHybridDialog = '',100)
        },
        saveHybridItem(){
            let url = '';
            if(this.typeHybridDialog === 'category'){
                url ='productCategories.store'
            }else if(this.typeHybridDialog === 'group'){
                url ='productGroups.store'
            }else if(this.typeHybridDialog === 'brand'){
                url ='productBrands.store'
            }else if(this.typeHybridDialog === 'measurementUnit'){
                url ='measurementUnits.store'
            }
            if(this.$refs.formHybridDialog.validate()){
                this.saveHybrid(url)
            }

        },
        async saveHybrid(url){
            axios.post(route(url), this.defaultHybridtItem )
                .then( response => {
                    this.openSnack(response.data.message,"success")
                    if(this.typeHybridDialog === 'category'){
                        this.getCategoriesSelect()
                    }else if(this.typeHybridDialog === 'group'){
                        this.getGroupsSelect()
                    }else if(this.typeHybridDialog === 'brand'){
                        this.getBrandsSelect()
                    }else if(this.typeHybridDialog === 'measurementUnit'){
                        this.getMeasurementsUnitsSelect()
                    }
                    this.closeHybridDialog()
                })
                .catch(error =>{
                    this.openSnack("ha ocurrido un error al momento de agregar el elemento.","error")
                    this.closeHybridDialog()
                    console.log(error)
                })
        },
        /*Notificaciones*/
        openSnack(text,color){
            this.snackbar_text= text
            this.snackbar_color= color
            this.snackbar=true
        },
        deleteItemConfirm () {
            this.deleteProduct()
            this.closeDialog(   'dialogDelete')
        },
        closeDialog(typeDialog){
            typeDialog === "dialogDelete"? this.dialogDelete = false : this.dialog = false
            setTimeout(() => this.reset(),500)
        },
        reset(){
            this.viewOnly = false
            this.editedItem = Object.assign({}, this.defaultItem)
            this.$refs.formModal.resetValidation()
            this.editedIndex = -1
            this.image = ''
            this.url ='/images/default-product.png'
            this.changeExistImage = false
            this.urlTemp =''
        },
        assignItem(item,typeDialog,mode){
            this.editedIndex = this.products.indexOf(item)
            this.editedItem = Object.assign({}, item)
            typeDialog ==="dialogDelete" ? this.dialogDelete = true : this.dialog = true
            mode ==="show" ? this.viewOnly = true : this.viewOnly = false
            this.url = this.editedItem.image_url
            this.changeExistImage = false
            this.urlTemp =''
        },
        save () {
            if(this.$refs.formModal.validate()){
                if (this.editedIndex > -1) {
                    this.updateProduct()
                    this.closeDialog('dialogEdit')
                } else {
                    this.saveProduct()
                    this.closeDialog('dialogEdit')
                }
            }
        },
        // *********** api calls ***********
        async getCategoriesSelect() {
            try {
                const response = await axios.get(route('productCategories.list'))
                this.categories  = response.data.productCategories
            }
            catch (error) {
                console.log(error);
            }
        },
        async getBrandsSelect() {
            try {
                const response = await axios.get(route('productBrands.list'))
                this.brands  = response.data.productBrands
            }
            catch (error) {
                console.log(error);
            }
        },
        async getGroupsSelect() {
            try {
                const response = await axios.get(route('productGroups.list'))
                this.groups  = response.data.productGroups
            }
            catch (error) {
                console.log(error);
            }
        },
        async getMeasurementsUnitsSelect() {
            try {
                const response = await axios.get(route('measurementUnits.list'))
                this.measurementUnits  = response.data.measurementUnits
            }
            catch (error) {
                console.log(error);
            }
        },
        // CORE DE PRODUCTOS
        async getProducts() {
            try {
                const response = await axios.get(route('products.list'))
                this.products  = response.data.products
                this.loadTable = false
            }
            catch (error) {
                console.log(error);
            }
        },
        async saveProduct(){
            var bodyFormData = new FormData();
            bodyFormData.append('image', this.image);
            for (var key in this.editedItem){
                bodyFormData.append(key,this.editedItem[key]);
            }
            axios({
                method: 'post',
                url: route('products.store'),
                data: bodyFormData,
                headers: {'Content-Type': 'multipart/form-data' }
            }).then(response => {
                console.log(response.data.message);
                this.openSnack(response.data.message,"success")
                this.getProducts()
            })
            .catch(error =>{
                this.openSnack("ha ocurrido un error al momento de crear el producto, por favor comuniquese con el administrador del sistema.","error")
                console.log(error)
            });
        },
        async updateProduct(){
            var bodyFormData = new FormData();
            bodyFormData.append('image', this.image);
            for (var key in this.editedItem){
                bodyFormData.append(key,this.editedItem[key]);
            }
            bodyFormData.append('_method','PUT');
            bodyFormData.append('changeExistImage',this.changeExistImage);
            axios({
                method: 'post',
                url: route('products.update',this.editedItem.id),
                data: bodyFormData,
                headers: {'Content-Type': 'multipart/form-data' }
            }).then(response => {
                console.log(response.data.message);
                this.openSnack(response.data.message,"success")
                this.getProducts()
            })
            .catch(error =>{
                this.openSnack("ha ocurrido un error al momento de actualizar el producto, por favor comuniquese con el administrador del sistema.","error")
                console.log(error)
            });
            /*axios.put(route('products.update',this.editedItem.id),this.editedItem)
                .then( response => {
                    this.openSnack(response.data.message,"success")
                    this.getProducts()
                })
                .catch(error =>{
                    this.openSnack("ha ocurrido un error al momento de actualizar el producto, por favor comuniquese con el administrador del sistema.","error")
                    console.log(error)
                })*/
        },
        async deleteProduct(){
            axios.delete(route('products.destroy', this.editedItem.id))
                .then( response => {
                    this.openSnack(response.data.message,"success")
                    this.getProducts()
                })
                .catch(error =>{
                    this.openSnack("ha ocurrido un error al momento de eliminar el producto, por favor comuniquese con el administrador del sistema.","error")
                    console.log(error)
                })
        }
    },
}
</script>

<style scoped>
    .croppa-container{
        max-height: 200px;
    }
    .fade-enter-active, .fade-leave-active {
        transition: opacity .1s;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
        opacity: 0;
    }
</style>
