<template>
    <div>
        <v-container fluid>
            <v-row align-content="center">
            <!-- parte izquierda, catalogo de productos  -->
                <v-col cols="12" sm="12" md="7" class="justify-center px-md-3">
                    <v-card min-height="666">
                        <v-data-iterator
                            :items="filteredItems"
                            :items-per-page.sync="itemsPerPage"
                            :page.sync="page"
                            :search="search"
                            hide-default-footer
                            loading
                        >
                            <template v-slot:header>
                                <v-container class="primary">
                                    <v-row class="justify-center px-md-3 py-md-2 elevation-4">
                                        <v-col cols="12" sm="12" md="4">
                                            <v-text-field
                                                dense
                                                solo
                                                flat
                                                hide-details
                                                single-line
                                                clearable
                                                background-color="white"
                                                v-model="search"
                                                prepend-inner-icon="mdi-magnify"
                                                label="Buscar por nombre"
                                            ></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="12" md="8">
                                            <v-row>
                                                <v-col col="12" sm="12" md="6">
                                                    <v-select
                                                        v-model="category"
                                                        dense
                                                        solo
                                                        flat
                                                        hide-details
                                                        single-line
                                                        clearable
                                                        background-color="white"
                                                        :items="categories"
                                                        item-text="name"
                                                        item-value="id"
                                                        label="Categoria"
                                                    ></v-select>
                                                </v-col>
                                                <v-col col="12" sm="12" md="6">
                                                    <v-select
                                                        v-model="group"
                                                        dense
                                                        solo
                                                        flat
                                                        hide-details
                                                        single-line
                                                        clearable
                                                        background-color="white"
                                                        :items="groups"
                                                        item-text="name"
                                                        item-value="id"
                                                        label="Grupo"
                                                    ></v-select>
                                                </v-col>
                                            </v-row>
                                        </v-col>
                                    </v-row>
                                </v-container>
                            </template>
                            <template v-slot:default="props">
                                <div class="overflow-y-auto overflow-x-hidden p-md-6 div-sales">
                                    <v-row class="pt-3 px-md-6">
                                        <v-col cols="12" sm="6" md="4" lg="3"
                                            v-for="item in props.items"
                                            :key="item.id"
                                        >
                                            <v-card class="mx-auto" max-width="250" min-height="302">
                                                <v-img :src="item.image_url" height="200px" class="red--text align-end">
                                                    <v-card-title v-if="item.state!=='STOCK_DISP'">
                                                        <v-row>
                                                            <v-col  v-if="item.state==='STOCK_NOT' || item.state==='STOCK_AGT'"  id="div-stock" cols="12" sm="12" md="12" align="center" align-self="center" class=" grey darken-4 white--text position-absolute justify-center">
                                                                <small>{{ item.state==='STOCK_NOT'?'SIN STOCK':'AGOTADO'}}</small>
                                                            </v-col>
                                                            <v-col v-else align="start" align-self="start"  >
                                                                <v-chip class="yellow lighten-1 black--text" label>
                                                                    <small>pocas unidades</small>
                                                                </v-chip>
                                                            </v-col>
                                                        </v-row>
                                                    </v-card-title>
                                                </v-img>
                                                <v-card-subtitle class="pb-0">

                                                    <v-tooltip top>
                                                        <template v-slot:activator="{ on, attrs }">
                                                            <span
                                                                v-bind="attrs"
                                                                v-on="on"
                                                            ><small><strong>{{ item.name }}</strong></small></span>
                                                        </template>
                                                        <div>
                                                            <p>Categoria: {{ item.categoryName }}</p>
                                                            <p>Grupo: {{ item.groupName }}</p>
                                                        </div>
                                                    </v-tooltip>
                                                    <v-btn id="button_list" dark small fab color="primary darken-1"
                                                           :disabled="!(item.state==='STOCK_DISP'|| item.state==='STOCK_POUNDS')"
                                                           @click="handleAdd(item)"
                                                    >
                                                        <v-icon>mdi-plus</v-icon>
                                                    </v-btn>
                                                </v-card-subtitle>
                                                <v-card-text class="text--primary">
                                                        <div>Q {{ item.salePrice }}</div>
                                                </v-card-text>
                                            </v-card>
                                        </v-col>
                                    </v-row>
                                </div>
                            </template>
                            <template v-slot:footer>
                                <v-row class="mt-2 mx-md-5" align="center" justify="center">
                                    <v-col cols="12" sm="12" md="6" align="center" class="justify-center">
                                        <span class="grey--text">productos por página</span>
                                        <v-menu offset-y>
                                            <template v-slot:activator="{ on, attrs }">
                                                <v-btn
                                                    dark text color="primary" class="ml-2" v-bind="attrs" v-on="on"
                                                >
                                                    {{ itemsPerPage }}
                                                    <v-icon>mdi-chevron-down</v-icon>
                                                </v-btn>
                                            </template>
                                            <v-list>
                                                <v-list-item
                                                    v-for="(number, index) in itemsPerPageArray"
                                                    :key="index"
                                                    @click="updateItemsPerPage(number)"
                                                >
                                                    <v-list-item-title>{{ number }}</v-list-item-title>
                                                </v-list-item>
                                            </v-list>
                                        </v-menu>
                                    </v-col>
                                    <v-col cols="12" sm="12" md="6" align="center" class="justify-center">
                                        <v-spacer></v-spacer>
                                        <span class="mr-4 grey--text">
                                     Página {{ page }} de {{ numberOfPages }}
                                    </span>
                                        <v-btn small dark color="secondary" class="mr-1" @click="formerPage">
                                            <v-icon>mdi-chevron-left</v-icon>
                                        </v-btn>
                                        <v-btn small dark color="secondary" class="ml-1" @click="nextPage">
                                            <v-icon>mdi-chevron-right</v-icon>
                                        </v-btn>
                                    </v-col>
                                </v-row>
                            </template>
                            <template v-slot:loading>
                                <div class="p-md-6 div-sales">
                                    <v-row class="pt-3 pt-md-15 px-md-6">
                                        <v-col cols="12" sm="12" md="12" align="center" align-self="center">
                                            <v-list-item class="pt-15" >
                                                <v-list-item-content class="py-12 d-flex justify-center" align="center">
                                                    <v-img
                                                        max-height="60"
                                                        max-width="60"
                                                        src="/images/icons/nube.png"
                                                        position="center center"
                                                    ></v-img>
                                                    <p class="pt-3">{{$page.props.auth.user.name}}, Un momento por favor.</p>
                                                </v-list-item-content>
                                            </v-list-item>
                                        </v-col>
                                    </v-row>
                                </div>
                            </template>
                            <template v-slot:no-results>
                                <div class="p-md-6 div-sales">
                                    <v-row class="pt-3 pt-md-15 px-md-6">
                                        <v-col cols="12" sm="12" md="12" align="center" align-self="center">
                                            <v-list-item class="pt-15" >
                                                <v-list-item-content class="py-12 d-flex justify-center" align="center">
                                                    <v-img
                                                        max-height="60"
                                                        max-width="60"
                                                        src="/images/icons/vacio.png"
                                                        position="center center"
                                                    ></v-img>
                                                    <p class="pt-3">{{$page.props.auth.user.name}}, Lo sentimos no se ha encontrado algún producto con esos datos de busqueda.</p>
                                                </v-list-item-content>
                                            </v-list-item>
                                        </v-col>
                                    </v-row>
                                </div>
                            </template>
                        </v-data-iterator>
                    </v-card>
                </v-col>
            <!-- parte derecha carrito de compras -->
                <v-col cols="12" sm="12" md="5" class="justify-center px-md-3 py-md-2">
                    <v-card>
                        <v-container>
                            <v-row class="justify-center px-3 pt-md-3">
                                <!--search clientes-->
                                <v-col cols="9" sm="9" md="9">
                                    <v-autocomplete
                                        v-model="customerId"
                                        :items="customers"
                                        :filter="customerFilter"
                                        item-text="name"
                                        item-value="id"
                                        label="Cliente"
                                        clearable
                                        append-outer-icon="mdi-magnify"
                                        dense
                                        outlined
                                        no-data-text="No se encontraron clientes."
                                        @change="customerProperties"
                                    >
                                        <template v-slot:selection="data">
                                                {{ data.item.name }}
                                        </template>
                                        <template v-slot:item="data">
                                            <template>
                                                <v-list-item-content>
                                                    <v-list-item-title v-html="data.item.name"></v-list-item-title>
                                                    <v-list-item-subtitle v-if="data.item.phone || data.item.nit || data.item.email">
                                                        <span v-if="$page.props.auth.user.permission.includes('private.dashboard.admin')">
                                                            <small>{{data.item.phone?data.item.phone:''}}</small></span>
                                                        <span v-if="$page.props.auth.user.permission.includes('private.dashboard.admin') && data.item.nit && data.item.phone"><small>/</small></span>
                                                        <span v-if="data.item.nit"><small>{{data.item.nit?data.item.nit:''}}</small></span>
                                                        <span v-if="data.item.email && (data.item.nit || data.item.phone)"><small>/</small></span>
                                                        <span v-if="data.item.email"><small>{{data.item.email?data.item.email:''}}</small></span>
                                                    </v-list-item-subtitle>
                                                </v-list-item-content>
                                            </template>
                                        </template>
                                    </v-autocomplete>
                                </v-col>
                                <!-- modal para crear nuevo cliente -->
                                <v-col cols="3" sm="3" md="3">
                                    <v-btn dark color="secondary" @click="dialogCustomer=true">
                                        <v-icon>mdi-plus</v-icon>
                                    </v-btn>
                                </v-col>
                            </v-row>
                            <v-row class="justify-center ">
                                <!-- listado de productos -->
                                <v-list-item>
                                    <v-list-item-content>
                                        <v-simple-table fixed-header height="330px">
                                            <template v-slot:default>
                                                <thead>
                                                <tr>
                                                    <th class="text-left">
                                                        Producto
                                                    </th>
                                                    <th class="text-left">
                                                        cantidad
                                                    </th>
                                                    <th class="text-left">
                                                        subtotal
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr
                                                    v-for="item in buyItems"
                                                    :key="item.id"
                                                >
                                                    <td>
                                                        <v-tooltip top>
                                                            <template v-slot:activator="{ on, attrs }">
                                                                <span v-bind="attrs" v-on="on">
                                                                    {{ item.name }}
                                                                </span>
                                                            </template>
                                                            <div>
                                                                <p>Precio individual: {{ item.price }}</p>
                                                            </div>
                                                        </v-tooltip>
                                                    </td>
                                                    <td>
                                                        <div class="d-inline-flex">
                                                            <v-btn x-small color="grey" text rounded @click="minusQuantity(item)">-</v-btn>
                                                            {{ item.quantity }}
                                                            <v-btn x-small color="grey" text rounded @click="addQuantity(item)">+</v-btn>
                                                        </div>

                                                    </td>
                                                    <td>
                                                        <div class="d-inline-flex pt-5">
                                                            <p>Q<span>{{ item.total }}</span></p>
                                                            <span>
                                                                <v-btn x-small text color="error" @click="removeItem(item)">x</v-btn>
                                                            </span>
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </template>
                                        </v-simple-table>
                                    </v-list-item-content>
                                </v-list-item>
                                <!-- totales -->
                                <v-list-item>
                                    <v-list-item-content>
                                        <v-container>
                                            <v-row>
                                                <v-col cols="6" sm="6" md="6">Subtotal</v-col>
                                                <v-col cols="6" sm="6" md="6" class="d-flex justify-content-end">
                                                    Q {{ this.subtotalSale }}
                                                </v-col>
                                            </v-row>
                                            <v-row>
                                                <v-col cols="6" sm="6" md="6">
                                                    Descuento: ( <span>{{!discount ? 0 : discount}}</span>%)
                                                    <span class="pink--text" @click="handleDiscount">cambiar</span>
                                                </v-col>
                                                <v-col cols="6" sm="6" md="6" class="d-flex justify-content-end">
                                                    Q {{amountDiscount}}
                                                </v-col>
                                            </v-row>
                                            <v-row>
                                                <v-col cols="6" sm="6" md="6"><strong>Total</strong></v-col>
                                                <v-col cols="6" sm="6" md="6" class="d-flex justify-content-end">
                                                    Q {{ totalSale }}
                                                </v-col>
                                            </v-row>
                                            <v-row>
                                                <v-col cols="12" sm="8" md="8">
                                                    <v-btn block color="primary" :disabled="!buyItems.length>0" @click="dialogSale=true">realizar venta</v-btn>
                                                </v-col>
                                                <v-col cols="12" sm="4" md="4">
                                                    <v-btn block color="grey" :disabled="!buyItems.length>0" @click="resetSale">
                                                        <span class="white--text" >Cancelar</span>
                                                    </v-btn>
                                                </v-col>
                                            </v-row>
                                        </v-container>
                                    </v-list-item-content>
                                </v-list-item>
                            </v-row>
                        </v-container>
                    </v-card>
                </v-col>
            </v-row>
        </v-container>
        <v-snackbar :color=snackbar_color right top v-model="snackbar" :timeout="timeout">
            <span :class="snackbar_color== 'warning' ? 'black--text':'white--text'">{{ snackbar_text }}</span>
            <template v-slot:action="{ attrs }">
                <v-btn
                    :color="snackbar_color== 'warning' ? 'black':'white'"
                    text v-bind="attrs" @click="snackbar = false"
                >
                    cerrar
                </v-btn>
            </template>
        </v-snackbar>
        <!-- dialogo de descuento -->
        <v-dialog v-model="dialogDiscount" max-width="500px" persistent >
            <v-card>
                <v-card-title>
                    <span class="text-h5">Descuento para la venta</span>
                </v-card-title>
                <v-card-text>
                    <v-form>
                        <v-container>
                            <v-row>
                                <v-col cols="6" sm="6" md="6" offset="3">
                                    <v-text-field
                                        v-model="discount"
                                        label="Descuento"
                                        clearable
                                        append-outer-icon="mdi-percent"
                                        hint="formato: 00 o 00.00"
                                        @keypress="onlyNumber"
                                    ></v-text-field>
                                </v-col>
                            </v-row>
                            <v-row>
                                <v-col cols="12" sm="12" md="12">
                                    <v-simple-table fixed-header v-if="buyItems">
                                        <template v-slot:default>
                                            <thead>
                                                <tr v-if="productsWithDiscount.length > 0" >
                                                    <th class="text-left">
                                                        Producto que aplican para descuento
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-if="productsWithDiscount" v-for="item in productsWithDiscount" :key="item.id">
                                                    <td>
                                                        {{ item.name }}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </template>
                                    </v-simple-table>
                                </v-col>
                            </v-row>
                        </v-container>
                    </v-form>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="secondary" text @click="closeDialogDiscount()" >
                        <span>Cerrar</span>
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <!-- dialogo de crear clientes -->
        <v-dialog v-model="dialogCustomer" max-width="500px" persistent>
            <v-card>
                <v-card-title>
                    <span class="text-h5">Nuevo cliente</span>
                </v-card-title>
                <v-card-text>
                    <v-form ref="formCustomer" lazy-validation>
                        <v-container>
                            <v-row>
                                <v-col cols="12" sm="6" md="6">
                                    <v-text-field
                                        v-model="defaultCustomer.name"
                                        label="Nombre Completo"
                                        :rules="[rules.required]"
                                    ></v-text-field>
                                </v-col>
                                <v-col cols="12" sm="6" md="6">
                                    <v-text-field
                                        v-model="defaultCustomer.nickname"
                                        label="Alias"
                                        hint="Nombre preferido o diminutivo (ej: Doña Rosita )"
                                    ></v-text-field>
                                </v-col>
                                <v-col cols="12" sm="6" md="6">
                                    <v-text-field
                                        v-model="defaultCustomer.phone"
                                        label="Numero telefónico"
                                        :rules="[rules.phone]"
                                        hint="formato: xxxx-xxxx"
                                    ></v-text-field>
                                </v-col>
                                <v-col cols="12" sm="6" md="6">
                                    <v-text-field
                                        v-model="defaultCustomer.nit"
                                        label="Nit"
                                        :rules="[rules.nit]"
                                    ></v-text-field>
                                </v-col>
                                <v-col cols="12" sm="6" md="6">
                                    <v-text-field
                                        v-model="defaultCustomer.email"
                                        label="Correo"
                                        type="email"
                                        :rules="[rules.email]"
                                    ></v-text-field>
                                </v-col>
                                <v-col cols="12" sm="6" md="6">
                                    <v-menu
                                        ref="menu"
                                        v-model="menu"
                                        :close-on-content-click="false"
                                        :return-value.sync="defaultCustomer.birthdate"
                                        transition="scale-transition"
                                        offset-y
                                        min-width="auto"
                                    >
                                        <template v-slot:activator="{ on, attrs }">
                                            <v-text-field
                                                v-model="computedDateFormatted"
                                                label="Fecha de nacimiento" readonly
                                                placeholder="has clic aqui."
                                                v-bind="attrs" v-on="on"
                                            ></v-text-field>
                                        </template>
                                        <v-date-picker v-model="defaultCustomer.birthdate" locale="es-Es" no-title scrollable>
                                            <v-spacer></v-spacer>
                                            <v-btn text color="secondary" @click="menu = false">
                                                Cancelar
                                            </v-btn>
                                            <v-btn text color="primary" @click="$refs.menu.save(defaultCustomer.birthdate)">
                                                Elegir
                                            </v-btn>
                                        </v-date-picker>
                                    </v-menu>
                                </v-col>
                                <v-col cols="12" sm="6" md="12">
                                    <v-text-field
                                        v-model="defaultCustomer.adress"
                                        label="Dirección"
                                    ></v-text-field>
                                </v-col>
                            </v-row>
                        </v-container>
                    </v-form>
                </v-card-text>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="secondary" text @click="closeDialogCustomer" >
                        <span>Cancelar</span>
                    </v-btn>
                    <v-btn color="primary" dark @click="addCustomer">
                        Guardar
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <!-- dialogo cierre venta -->
        <v-dialog v-model="dialogSale" max-width="500px" persistent>
            <v-card>
                <v-card-title>
                    <span class="text-h5">Detalles de la venta</span>
                </v-card-title>
                <v-card-text>
                    <v-form ref="formSale" lazy-validation>
                        <v-container>
                            <v-row class="py-8">
                                <v-col cols="12" sm="6" md="6" class="d-flex justify-content-end">
                                    <h5 class="text-black-50">Total a pagar :</h5>
                                </v-col>
                                <v-col cols="12" sm="6" md="6">
                                    <h5 class="primary--text">Q {{totalSale}}</h5>
                                </v-col>
                            </v-row>
                            <v-row class="px-5" no-gutters>
                                <v-col cols="12" sm=12 md="12">
                                    <v-select
                                        dense
                                        outlined
                                        clearable
                                        v-model="paymentType"
                                        :items="paymentTypes"
                                        item-text="name"
                                        item-value="id"
                                        label="Tipo de pago"
                                        :rules="[rules.required]"
                                    ></v-select>
                                </v-col>
                                <v-col cols="12" sm="6" md="6" class="pl-2">
                                    <p><strong>Nombre:</strong></p>
                                </v-col>
                                <v-col cols="12" sm="6" md="6" >
                                    {{customerData.name}}
                                </v-col>
                                <v-col cols="12" sm="6" md="6" class="pl-2">
                                    <p><strong>Nit:</strong></p>
                                </v-col>
                                <v-col cols="12" sm="6" md="6">
                                    {{ customerData.nit}}
                                </v-col>
                                <v-col cols="12" sm="6" md="6" class="pl-2">
                                    <p><strong>total de productos :</strong></p>
                                </v-col>
                                <v-col cols="12" sm="6" md="6">
                                    {{numberItemSold}}
                                </v-col>
                                <v-col cols="12" sm="6" md="6" class="pl-2">
                                    <p><strong>Descuento:</strong></p>
                                </v-col>
                                <v-col cols="12" sm="6" md="6">
                                    <span>{{discount?discount:0}}%</span>
                                </v-col>
                            </v-row>
                            <v-row class="pt-3">
                                <v-col cols="12" sm="6" md="6">
                                    <v-text-field
                                        outlined
                                        clearable
                                        v-model="moneyReceived"
                                        label="Dinero recibido:"
                                        @change="calculateChange"
                                        :rules="[rules.required]"
                                    ></v-text-field>
                                </v-col>
                                <v-col cols="12" sm="6" md="6"  class="pt-3">
                                    <v-text-field
                                        readonly
                                        outlined
                                        v-model="change"
                                        label="Cambio al cliente:"
                                        :rules="[rules.required]"
                                    ></v-text-field>
                                </v-col>
                            </v-row>
                        </v-container>
                    </v-form>
                </v-card-text>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="secondary" text @click="closeDialogSale">
                        <span>seguir comprando</span>
                    </v-btn>
                    <v-btn color="primary" dark @click="addSale" :loading="creatingSale">
                        Cerrar venta
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
import {nitValido,telefonoValido,correoValido} from '@/plugins/rulesGuatemala'
export default {
    name: "Index",
    metaInfo: {
        title: 'Ventas',
    },
    props: ['paymentTypes'],
    data () {
        return {
            page: 1,
            itemsPerPageArray: [4, 8, 12],
            itemsPerPage: 4,
            search: '',
            products: [],
            categories : [],
            groups : [],
            customers : [],
            category: null,
            group: null ,
            buyItems: [],
            discount: '',
            snackbar: false,
            snackbar_text: '',
            snackbar_color: 'error',
            timeout: 3000,
            dialogDiscount: false,
            dialogCustomer: false,
            dialogSale : false,
            defaultCustomer: {
                id: '',
                name: '',
                nickname: '',
                phone: '',
                email: '',
                nit: '',
                birthdate: '',
                birthdate_formated: '',
                adress: '',

            },
            customerId: '',
            rules: {
                required: value => !!value || 'Debes llenar este campo.',
                email: value => {
                    return correoValido(value) || 'Correo invalido.'
                },
                phone: value => {
                    return telefonoValido(value) || 'Telefono invalido.'
                },
                nit: value =>{
                    return nitValido(value) || 'Nit invalido.'
                },
            },
            menu: false,
            paymentType: '',
            moneyReceived: '',
            change:'',
            customerData: {
                id: 1,
                name: 'Cliente Anonimo',
                nit: 'C/F',
            },
            creatingSale: false,
        }
    },
    created(){
        this.getProductsSales()
        setTimeout(() => this.getCategoriesSelect(),300)
        setTimeout(() => this.getGroupsSelect(),300)
        setTimeout(() => this.getCustomersSales(),300)
    },
    computed: {
        computedDateFormatted () {
            return this.formatDate(this.defaultCustomer.birthdate)
        },
        numberOfPages () {
            return Math.ceil(this.products.length / this.itemsPerPage)
        },
        filteredItems() {
            let itemsFiltered =  this.products
            if(this.category){
                itemsFiltered = itemsFiltered.filter((i) => {
                    return !this.category || (i.productCategory_id === this.category);
                })
            }
            if(this.group){
                itemsFiltered = itemsFiltered.filter((i) => {
                    return !this.group || (i.productGroup_id === this.group);
                })
            }
            return itemsFiltered
        },
        productsWithDiscount(){
            return this.buyItems.filter((i) => {
                return (i.discountEnabled === true);
            })
        },
        subtotalSale(){
            var subtotal = 0.00;
            this.buyItems.forEach(function(productItemBuy){
                subtotal += parseFloat(productItemBuy.total);
            });
            return subtotal;
        },
        numberItemSold(){
            var number = 0;
            this.buyItems.forEach(function(productItemBuy){
                number += parseInt(productItemBuy.quantity);
            });
            return number;
        },
        amountDiscount(){
            let amount = 0.00;
            if(this.discount){
                this.productsWithDiscount.forEach(function(productItemBuy){
                    amount += parseFloat(productItemBuy.total);
                });
                amount = parseFloat( (amount * this.discount)/100);
            }
            return amount;
        },
        totalSale(){
          return this.subtotalSale - this.amountDiscount
        },
    },
    methods: {
        //DialogSale
        resetSale(){
          this.customerId = ''
          this.buyItems = []
          this.discount = ''
        },
        resetDialogSale(){
            this.$refs.formSale.resetValidation()
            this.moneyReceived = ''
            this.change = ''
            this.paymentType=''
        },
        closeDialogSale(){
            this.dialogSale = false
            this.resetDialogSale()
        },
        addSale(){
            if(this.$refs.formSale.validate()){
                this.saveSale()
            }
        },
        calculateChange(){
            if(this.moneyReceived){
                let received = parseFloat(this.moneyReceived);
                let total = parseFloat(this.totalSale);
                if(received<total){
                    this.openSnack("El monto recibido es menor que el total de la compra.","warning")
                    this.change=''
                    this.moneyReceived=''

                }else{
                    this.change = parseFloat(this.moneyReceived - this.totalSale).toFixed(2);
                }
            }
        },
        //customer
        formatDate (date) {
            if (!date) return null
            const [year, month, day] = date.split('-')
            return `${month}/${day}/${year}`
        },
        resetCustomer(){
            this.defaultCustomer.id = ''
            this.defaultCustomer.name = ''
            this.defaultCustomer.nickname = ''
            this.defaultCustomer.phone = ''
            this.defaultCustomer.email = ''
            this.defaultCustomer.nit = ''
            this.defaultCustomer.birthdate = ''
            this.defaultCustomer.birthdate_formated = ''
            this.defaultCustomer.adress = ''
            this.$refs.formCustomer.resetValidation()
        },
        closeDialogCustomer(){
            this.dialogCustomer = false
            this.resetCustomer()
        },
        addCustomer(){
            if(this.$refs.formCustomer.validate()){
                this.saveCustomer()
                this.closeDialogCustomer()
            }
        },
        customerFilter (item, queryText, itemText) {
            const name = item.name.toLowerCase()
            const nickname = item.nickname? item.nickname.toLowerCase(): ''
            const email = item.email? item.email.toLowerCase() : ''
            const nit = item.nit? item.nit.toLowerCase(): ''
            const phone = item.phone? item.phone.toLowerCase(): ''
            const searchText = queryText.toLowerCase()
            return name.indexOf(searchText) > -1 || nickname.indexOf(searchText) > -1 || email.indexOf(searchText) > -1 || nit.indexOf(searchText) > -1 || phone.indexOf(searchText) > -1
        },
        customerProperties(){
            if(this.customerId){
                var temp = this.customers.filter((i)=>{
                    return (i.id === this.customerId);
                })
                this.customerData.id = temp[0].id
                this.customerData.name = temp[0].name
                this.customerData.nit = temp[0].nit ? temp[0].nit : 'C/F'
            }else{
                this.customerData.id = 1
                this.customerData.name = 'Cliente Anonimo'
                this.customerData.nit = 'C/F'
            }
        },
        //dialog
        closeDialogDiscount(){
            this.dialogDiscount = false
        },
        // snack
        openSnack(text,color, timeout ){
            this.snackbar_text= text
            this.snackbar_color= color
            timeout ? this.timeout= timeout : this.timeout= 3000
            this.snackbar=true
        },
        // Paginacion
        nextPage () {
            if (this.page + 1 <= this.numberOfPages) this.page += 1
        },
        formerPage () {
            if (this.page - 1 >= 1) this.page -= 1
        },
        updateItemsPerPage (number) {
            this.itemsPerPage = number
        },
        // CARRITO DE COMPRAS
        handleAdd(productItem) {
                let  index = this.findIndex(this.buyItems, 'id', productItem.id);
                if (index === -1) {
                    this.pushData(productItem);
                } else {
                    this.updateData(index)
                }
        },
        findIndex(array, attr, value) {
            for (let i = 0; i < array.length; i += 1) {
                if (array[i][attr] === value) {
                    return i
                }
            }
            return -1
        },
        pushData(productItem) {
            this.buyItems.push({
                id: productItem.id,
                name: productItem.name,
                price: productItem.salePrice,
                quantity: 1,
                quantityStock: productItem.quantity,
                discountEnabled: productItem.discountEnabled,
                total: this.totalForItem( 1, productItem.salePrice)
            });
            this.openSnack("Producto agregado","success")
        },
        updateData(index){
            if(this.acceptQuantity(this.buyItems[index].quantity,this.buyItems[index].quantityStock)){
                this.buyItems[index].quantity += 1
                this.buyItems[index].total = this.totalForItem( this.buyItems[index].quantity, this.buyItems[index].price)
                this.openSnack("Cantidad actualizada.","success")
            }else{
                this.openSnack("Lo sentimos, se ha llegado a la cantidad maxima disponible.","warning")
            }
        },
        removeItem: function(productItemBuy) {
            let index = this.buyItems.indexOf(productItemBuy);
            this.buyItems.splice(index, 1);
            this.openSnack("Producto eliminado.","success")
        },
        addQuantity: function(productItemBuy){
            if(this.acceptQuantity(productItemBuy.quantity,productItemBuy.quantityStock)){
                productItemBuy.quantity += 1;
                productItemBuy.total =this.totalForItem( productItemBuy.quantity,productItemBuy.price)
            }else{
                this.openSnack("Lo sentimos, se ha llegado a la cantidad maxima disponible.","warning")
            }
        },
        minusQuantity: function(productItemBuy){
            productItemBuy.quantity -= 1;
            if (productItemBuy.quantity <= 0){
                productItemBuy.quantity = 1;
            }
            productItemBuy.total =this.totalForItem( productItemBuy.quantity,productItemBuy.price)
        },
        acceptQuantity(quantity,stock){
            return quantity + 1 <= stock
        },
        totalForItem(quantity,price){
            return parseFloat(quantity * price).toFixed(2)
        },
        onlyNumber ($event) {
            let keyCode = ($event.keyCode ? $event.keyCode : $event.which);
            if ((keyCode < 48 || keyCode > 57) && keyCode !== 46) { // 46 is dot
                $event.preventDefault();
            }
        },
        handleDiscount(){
          if(this.productsWithDiscount.length>0){
            this.dialogDiscount = true
          }else{
              this.dialogDiscount = false
              this.discount = ''
              this.openSnack("Lo sentimos, no hay ningún producto al cual se le pueda aplicar descuentos.","warning")
          }
        },
        // API CALLS CATALOGOS
        async getProductsSales() {
            try {
                const response = await axios.get(route('products.list.dense'))
                this.products  = response.data.products
            }
            catch (error) {
                console.log(error);
            }
        },
        async getCategoriesSelect() {
            try {
                const response = await axios.get(route('productCategories.list'))
                this.categories  = response.data.productCategories
            }
            catch (error) {
                console.log(error);
            }
        },
        async getGroupsSelect() {
            try {
                const response = await axios.get(route('productGroups.list'))
                this.groups  = response.data.productGroups
            }
            catch (error) {
                console.log(error);
            }
        },
        async getCustomersSales() {
            try {
                const response = await axios.get(route('customers.list.dense'))
                this.customers  = response.data.customers
            }
            catch (error) {
                console.log(error);
            }
        },
        async saveCustomer(){
            axios.post(route('customers.store'), this.defaultCustomer )
                .then( response => {
                    this.openSnack(response.data.message,"success")
                    this.getCustomersSales()
                })
                .catch(error =>{
                    this.openSnack("ha ocurrido un error al momento de crear el cliente, por favor comuniquese con el administrador del sistema.","error")
                    console.log(error)
                })
        },
        async saveSale(){
            this.creatingSale = true
            const postData= {
                products: this.buyItems,
                customer: this.customerData,
                paymentType: this.paymentType,
                subtotalSale: this.subtotalSale,
                totalSale: this.totalSale,
                discount: this.discount?this.discount:0,
                amountDiscount: this.amountDiscount,
                itemsQuantity: this.numberItemSold,
            };
            axios.post(route('sales.store'), postData )
                .then( response => {
                    if (response.status==202){
                        this.openSnack(response.data.message,"warning",8000)
                        let index = this.buyItems.indexOf(response.data.productId);
                        this.buyItems.splice(index, 1);
                        this.getProductsSales()
                    }
                    if(response.status==200){
                        this.openSnack(response.data.message,"success")
                        this.getProductsSales()
                        this.resetSale()
                    }
                    this.creatingSale = false
                    this.closeDialogSale()
                })
                .catch(error =>{
                    this.openSnack("ha ocurrido un error al momento de crear la venta, por favor comuniquese con el administrador del sistema.","error")
                    this.creatingSale = false
                    console.log(error)
                    this.closeDialogSale()
                })
        },
    },
}
</script>

<style scoped>

    #button_list {
        text-align: center;
        line-height: 50px;
        font-size: 1.4rem;
        position: absolute;
        right: 8px;
        top: 170px;
    }
    #div-stock{
        height: 200px;
        width: 200px;
        text-align: center;
        top: 0;
        left: 0;
        opacity: 0.6;
        font-size: 1.50rem;
        padding-top: 76px;
    }
    .div-sales{
        min-height: 500px;
        max-height: 500px;
    }
    @media (max-width: 599px) {
        #div-stock{
            width: 250px;
        }
    }
</style>
