<template>
    <div>
        <v-container fluid>
            <v-row>
                <v-col sm="12" md="12" class="d-inline-flex">
                    <v-row>
                        <v-col cols="6" sm="6" md="6">
                            <h3>Unidades de medida</h3>
                        </v-col>
                        <v-col align="end" cols="6" sm="6" md="6">
                            <v-dialog v-model="dialog" max-width="500px" persistent>
                                <template v-slot:activator="{ on, attrs }">
                                    <v-btn v-if="$page.props.auth.user.permission.includes('measurementUnits.new')" color="primary" dark class="mb-2 float-right" v-bind="attrs" v-on="on">
                                        Nueva
                                    </v-btn>
                                </template>
                                <v-card>
                                    <v-card-title>
                                        <span class="text-h5">{{ formTitle }}</span>
                                    </v-card-title>

                                    <v-card-text>
                                        <v-form ref="formModal" lazy-validation>
                                            <v-container>
                                                <v-row>
                                                    <v-col cols="12" sm="6" md="6">
                                                        <v-text-field
                                                            :disabled="viewOnly"
                                                            v-model="editedItem.name"
                                                            label="Nombre"
                                                            hint="nombres en plural para gestionar mejor el inventario (cajas, unidades, litros)."
                                                            :rules="[rules.required]"
                                                        ></v-text-field>
                                                    </v-col>
                                                    <v-col cols="12" sm="6" md="6">
                                                        <v-text-field
                                                            :disabled="viewOnly"
                                                            v-model="editedItem.shortName"
                                                            label="Nombre corto"
                                                            hint="abreviaturas en plural para gestionar mejor el inventario (cjs, uds, lts)."
                                                        ></v-text-field>
                                                    </v-col>
                                                </v-row>
                                            </v-container>
                                        </v-form>
                                    </v-card-text>

                                    <v-card-actions>
                                        <v-spacer></v-spacer>
                                        <v-btn color="secondary" text @click="closeDialog('dialogEdit')" >
                                             <span v-if="!viewOnly">Cancelar</span>
                                            <span v-else>Cerrar</span>
                                        </v-btn>
                                        <v-btn color="primary" dark @click="save" v-show="!viewOnly">
                                            Guardar
                                        </v-btn>
                                    </v-card-actions>
                                </v-card>
                            </v-dialog>
                            <v-dialog v-if="$page.props.auth.user.permission.includes('measurementUnits.destroy')" v-model="dialogDelete" max-width="500px" persistent >
                                <v-card>
                                    <v-list-item class="p-0" >
                                        <v-list-item-content class="pt-8 d-flex justify-center" align="center">
                                            <v-img
                                                max-height="60"
                                                max-width="60"
                                                src="/images/icons/precaucion.png"
                                                position="center center"
                                            ></v-img>
                                            <p class="pt-3">¿{{$page.props.auth.user.name}}, Realmente deseas eliminar esta unidad de medida?</p>
                                        </v-list-item-content>
                                    </v-list-item>
                                    <v-card-actions >
                                        <v-spacer></v-spacer>
                                        <v-btn color="secondary" text @click="closeDialog('dialogDelete')">Cancelar</v-btn>
                                        <v-btn color="primary" text @click="deleteItemConfirm">Si, Eliminar</v-btn>
                                        <v-spacer></v-spacer>
                                    </v-card-actions>
                                </v-card>
                            </v-dialog>
                        </v-col>
                    </v-row>
                </v-col>
                <v-col sm="12" md="12">
                    <v-card>
                        <v-data-table
                            :headers="headers"
                            :items="measurementUnits"
                            :search="search"
                            :loading="loadTable"
                            :items-per-page=5
                            loading-text="Un momento por favor..."
                            no-results-text="Lo sentimos no se ha encontrado una unidad de medida con esos datos de busqueda."

                            :header-props="{'sort-by-text':'Ordenar por'}"
                            :footer-props="{'items-per-page-text':'unidad de medida por página','items-per-page-all-text':'Todos'}"
                            class="elevation-1 p-md-5"
                        >
                            <template v-slot:top class="pb-15">
                                <v-toolbar flat class="pb-15" height="110">
                                    <v-row>
                                        <v-col cols="12" sm="12" md="6" offset-md="3" order="first" order-sm="last" >
                                            <v-text-field
                                                align="center"
                                                v-model="search"
                                                append-icon="mdi-magnify"
                                                label="Busca aquí según las columnas en la tabla."
                                                single-line
                                                hide-details
                                            ></v-text-field>
                                        </v-col>
                                    </v-row>
                                </v-toolbar>
                            </template>
                            <template v-slot:item.shortName="{item}">
                                <span v-if="item.shortName == null">---</span>
                                <span v-else>{{item.shortName}}</span>
                            </template>
                            <template v-slot:item.actions="{ item }">
                                <v-icon v-if="$page.props.auth.user.permission.includes('measurementUnits.show')"
                                        small @click="assignItem(item,'dialogEdit','show')">mdi-eye</v-icon>
                                <v-icon v-if="$page.props.auth.user.permission.includes('measurementUnits.update')"
                                        small class="mr-2" @click="assignItem(item,'dialogEdit','default')">mdi-pencil</v-icon>
                                <v-icon v-if="$page.props.auth.user.permission.includes('measurementUnits.destroy')"
                                        small  @click="assignItem(item,'dialogDelete','default')">mdi-delete</v-icon>
                            </template>
                            <template v-slot:no-data>
                                <v-list-item class="p-0" >
                                    <v-list-item-content class="py-12 d-flex justify-center" align="center">
                                        <v-img
                                            max-height="60"
                                            max-width="60"
                                            src="/images/icons/feliz.png"
                                            position="center center"
                                        ></v-img>
                                        <p class="pt-3">{{$page.props.auth.user.name}}, Parece que no tienes ningúna unidad de medida agregada al sistema, puedes agregar una haciendo clic <span class="primary--text" @click="dialog=true"><strong>aqui</strong></span>.</p>
                                    </v-list-item-content>
                                </v-list-item>
                            </template>
                        </v-data-table>
                        <v-snackbar
                            :color=snackbar_color
                            right top
                            v-model="snackbar"
                            :timeout="timeout"
                        >
                            {{ snackbar_text }}
                            <template v-slot:action="{ attrs }">
                                <v-btn
                                    :color="snackbar_color== 'error' ? 'white':'white'"
                                    text
                                    v-bind="attrs"
                                    @click="snackbar = false"
                                >
                                    cerrar
                                </v-btn>
                            </template>
                        </v-snackbar>
                    </v-card>
                </v-col>
            </v-row>
        </v-container>
    </div>
</template>
<script>
export default {
    name: "Index",
    metaInfo: {
        title: 'Unidades de medida',
    },
    data: () => ({
        menu: false,
        loadTable:true,
        snackbar: false,
        snackbar_text: '',
        snackbar_color: 'error',
        timeout: 5000,
        search: '',
        dialog: false,
        dialogDelete: false,
        viewOnly: false,
        rules: {
            required: value => !!value || 'Debes llenar este campo.',
        },
        headers: [
            /*sortable: false,*/
            { text: 'Nombre', value: 'name', align: 'start'},
            { text: 'Nombre Corto', value: 'shortName' },
            { text: 'Acciones', value: 'actions', sortable: false },
        ],
        measurementUnits: [],
        editedIndex: -1,
        editedItem: {
            id: '',
            name: '',
            shortName: '',

        },
        defaultItem: {
            id: '',
            name: '',
            shortName: '',
        },
    }),

    computed: {
        formTitle () {
            return this.editedIndex === -1 ? 'Nueva unidad de medida' : this.viewOnly? 'Datos de la unidad de medida': 'Editar unidad de medida'
        },
    },
    created () {
        this.getMeasurementUnits()
    },
    methods: {
        /*Notificaciones*/
        openSnack(text,color){
            this.snackbar_text= text
            this.snackbar_color= color
            this.snackbar=true
        },

        deleteItemConfirm () {
            this.deleteMeasurementUnit()
            this.closeDialog('dialogDelete')
        },

        closeDialog(typeDialog){
            typeDialog === "dialogDelete"? this.dialogDelete = false : this.dialog = false
            setTimeout(() => this.reset(),500)
        },
        reset(){
            this.viewOnly = false
            this.editedItem = Object.assign({}, this.defaultItem)
            this.$refs.formModal.resetValidation()
            this.editedIndex = -1
        },
        assignItem(item,typeDialog,mode){
            this.editedIndex = this.measurementUnits.indexOf(item)
            this.editedItem = Object.assign({}, item)
            typeDialog ==="dialogDelete" ? this.dialogDelete = true : this.dialog = true
            mode ==="show" ? this.viewOnly = true : this.viewOnly = false
        },

        save () {
            if(this.$refs.formModal.validate()){
                if (this.editedIndex > -1) {
                    this.updateMeasurementUnit()
                    this.closeDialog('dialogEdit')
                } else {
                    this.saveMeasurementUnit()
                    this.closeDialog('dialogEdit')
                }
            }
        },
        // *********** api calls ***********
        async getMeasurementUnits() {
            try {
                const response = await axios.get(route('measurementUnits.list'))
                this.measurementUnits  = response.data.measurementUnits
                this.loadTable = false
            }
            catch (error) {
                console.log(error);
            }
        },

        async saveMeasurementUnit(){
            axios.post(route('measurementUnits.store'), this.editedItem )
            .then( response => {
                this.openSnack(response.data.message,"success")
                this.getMeasurementUnits()
            })
            .catch(error =>{
                this.openSnack("ha ocurrido un error al momento de crear una unidad de medida, por favor comuniquese con el administrador del sistema.","error")
                console.log(error)
            })
        },

        async updateMeasurementUnit(){
            axios.put(route('measurementUnits.update',this.editedItem.id),this.editedItem)
                .then( response => {
                    this.openSnack(response.data.message,"success")
                    this.getMeasurementUnits()
                })
                .catch(error =>{
                    this.openSnack("ha ocurrido un error al momento de crear una unidad de medida, por favor comuniquese con el administrador del sistema.","error")
                    console.log(error)
                })
        },

        async deleteMeasurementUnit(){
            axios.delete(route('measurementUnits.destroy', this.editedItem.id))
                .then( response => {
                    this.openSnack(response.data.message,"success")
                    this.getMeasurementUnits()
                })
                .catch(error =>{
                    this.openSnack("ha ocurrido un error al momento de eliminar crear una unidad de medida, por favor comuniquese con el administrador del sistema.","error")
                    console.log(error)
                })
        }
    },
}
</script>

<style scoped>

</style>
