<template>
    <div class="container-fluid pl-0 pb-0">

            <div class="row">
                <div class="col-md-7 pl-0 d-none d-sm-block cover-img"></div>
                <div class="col-md-5 pt-md-10">
                    <div class="row d-flex align-center">
                        <div class="offset-md-2 col-md-8 pt-15">
                            <div class="pt-5 pb-2 text-center">
                                <h1 class="pt-md-3 font-title">¡Nos alegra tenerte con nosotros! </h1>
                                <p class="text-muted">Por favor, ingresa los datos solicitados.</p>
                            </div>
                            <form class="pt-md-5 pt-10 px-md-0 px-5">
                                <v-text-field
                                    v-model="code"
                                    label="Codigo"
                                    outlined
                                    required
                                    :error-messages="codeErrors"
                                    @input="$v.code.$touch()"
                                    @blur="$v.code.$touch()"
                                    append-icon="mdi-account-circle"
                                ></v-text-field>
                                <v-text-field
                                    v-model="password"
                                    label="Contraseña"
                                    outlined
                                    required
                                    :error-messages="passwordErrors"
                                    @input="$v.password.$touch()"
                                    @blur="$v.password.$touch()"
                                    @click:append="showPassword = !showPassword"
                                    :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                                    :type="showPassword ? 'text' : 'password'"
                                    class="input-group--focused"
                                ></v-text-field>
<!--                                <div>
                                    <p class="primary&#45;&#45;text d-flex justify-content-end"><inertia-link :href="route('password.request')" class="pr-4">Olvidé mi contraseña</inertia-link></p>
                                </div>-->
                                <v-btn
                                    color="primary"  elevation="2"
                                    rounded x-large  block
                                    :loading="validating"
                                    @click="submit"
                                >
                                    Login
                                </v-btn>
                            </form>
                            <v-snackbar
                                :color=snackbar_color
                                right bottom
                                v-model="snackbar"
                                :timeout="timeout"
                            >
                                {{ snackbar_text }}
                                <template v-slot:action="{ attrs }">
                                    <v-btn
                                        :color="snackbar_color== 'error' ? 'white':'black'"
                                        text
                                        v-bind="attrs"
                                        @click="snackbar = false"
                                    >
                                        cerrar
                                    </v-btn>
                                </template>
                            </v-snackbar>
                        </div>
                    </div>
                </div>
            </div>

    </div>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required } from 'vuelidate/lib/validators'
export default {
    name: "Login",
    metaInfo: {
        title: 'Login',
        meta: [
            {   name: "description",
                content: "Ingreso a Valentina Company."
            }
        ]
    },
    mixins: [validationMixin],
    validations: {
        code: { required },
        password: { required},
    },
    data: () => ({
        code: '',
        password: '',
        showPassword: false,
        validating: false,
        snackbar: false,
        snackbar_text: '',
        snackbar_color: 'error',
        timeout: 5000,
        isLogin : false
    }),
    computed: {
        codeErrors () {
            const errors = []
            if (!this.$v.code.$dirty) return errors
            !this.$v.code.required && errors.push('Debes ingresar el codigo.')
            return errors
        },
        passwordErrors () {
            const errors = []
            if (!this.$v.password.$dirty) return errors
            !this.$v.password.required && errors.push('Debes ingresar la contraseña.')
            return errors
        },
    },
    methods: {
        submit () {
            this.$v.$touch()
            if (!this.$v.$invalid) {
                this.isLogin = false
                this.validating=true
                axios.post(route('login'),{
                    'code': this.code,
                    'password': this.password
                }).then(response => {
                    this.validating = false
                    if (response.status==202){
                        this.snackbar_text= response.data.message
                        this.snackbar_color=response.data.color
                        this.snackbar=true
                    }
                    if(response.status==200){
                        this.isLogin = true
                        console.log('uno'+this.isLogin);
                        this.$inertia.get(route('login.redirect'))
                    }
                }).catch(error => {
                        console.log(error);
                });
            }
        },
    },
}
</script>

<style scoped>
.cover-img{
    background-image: url('/images/coverLogin2.jpg');
    min-height: 94vh;
    width: calc(100% - 560px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    position: relative;
}
</style>
