<template>
    <div class="container-fluid pl-0 pb-0">

        <div class="row">
            <div class="col-md-7 pl-0 d-none d-sm-block cover-img"></div>
            <div class="col-md-5 pt-md-10">
                <div class="row d-flex align-center">
                    <div class="offset-md-2 col-md-8 pt-15">
                        <div class="pt-5 pb-2 text-center">
                            <h1 class="pt-md-3 font-title">¡No te preocupes, lo solucionaremos! </h1>
                            <p class="text-muted">Ingresa tu correo, te enviaremos un link con las instrucciones.</p>
                        </div>
                        <form class="pt-md-5 pt-10 px-md-0 px-5">
                            <v-text-field
                                v-model="email"
                                label="Correo electrónico"
                                outlined
                                required
                                :loading="validating"
                                :disabled="send ? true : false"
                                :error-messages="emailErrors"
                                @input="$v.email.$touch()"
                                @blur="$v.email.$touch()"
                                @change="handleEmailValidation"
                                append-icon="mdi-account-circle"
                            ></v-text-field>
                            <v-btn
                                color="primary"  elevation="2"
                                rounded x-large  block
                                :loading="sending" :disabled="unauthorized"
                                @click="handleSendEmail"
                            >
                                Envíame el link
                            </v-btn>
                        </form>
                        <v-snackbar
                            :color=snackbar_color
                            right bottom
                            v-model="snackbar"
                            :timeout="timeout"
                        >
                            {{ snackbar_text }}
                            <template v-slot:action="{ attrs }">
                                <v-btn
                                    :color="snackbar_color== 'error' ? 'white':'black'"
                                    text
                                    v-bind="attrs"
                                    @click="snackbar = false"
                                >
                                    cerrar
                                </v-btn>
                            </template>
                        </v-snackbar>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, email } from 'vuelidate/lib/validators'
export default {
    name: "Email",
    metaInfo: {
        title: 'Email de restablecimiento de contraseña',
    },
    mixins: [validationMixin],
    validations: {
        email: { required, email },
    },
    data: () => ({
        email: '',
        unauthorized: true,
        sending: false,
        validating: false,
        send:false,
        snackbar: false,
        snackbar_text: '',
        snackbar_color: 'error',
        timeout: 5000,
    }),
    computed: {
        emailErrors () {
            const errors = []
            if (!this.$v.email.$dirty) return errors
            !this.$v.email.email && errors.push('Debes de ingresar un correo valido.')
            !this.$v.email.required && errors.push('El correo electrónico es necesario para restablecer tu contraseña.')
            return errors
        },
    },
    methods:{
        resetRequest(){
            this.validating = false
            this.unauthorized = true
        },
        handleEmailValidation(){
            if(this.$v.email.email){
                this.resetRequest()
                this.validating = true
                axios.post(route('user.validate.email'),{
                    'email': this.email
                }).then(response => {
                    this.validating = false
                    if(response.data.continue === false){
                        this.snackbar_text = response.data.message
                        this.snackbar_color= response.data.color
                        this.snackbar = true
                    }else{
                        this.unauthorized = false
                    }
                }).catch(e => {console.log(e);});
            }
        },
        handleSendEmail(){
            console.log(" sending 1"+this.sending)
            this.sending = true
            console.log(" sending 2"+this.sending)
            this.$inertia.post(route('password.email'),{'email':this.email},{
                onSuccess: (response) => {
                    this.sending = false
                    console.log(" sending 3"+this.sending)
                    this.snackbar_text = 'Todo listo, te hemos enviado un correo con el enlace de restablecimiento de contraseña.'
                    this.snackbar_color= 'success'
                    this.snackbar = true
                    this.unauthorized=true
                },
                onError: (errors) => {
                    this.sending = false
                    console.log(" sending 4"+this.sending)
                    this.snackbar_text = 'Lo sentimos, hace algunos momentos realizaste esta acción, por favor verifica tu correo.'
                    this.snackbar_color= 'error'
                    this.snackbar = true
                    this.unauthorized=true
                    this.send=true
                }
            })
        }
    }
}
</script>

<style scoped>
.cover-img{
    background-image: url('/images/coverLogin2.jpg');
    min-height: 94vh;
    width: calc(100% - 560px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    position: relative;
}
</style>
