<template>
    <div class="container-fluid pl-0 pb-0">

        <div class="row">
            <div class="col-md-7 pl-0 d-none d-sm-block cover-img"></div>
            <div class="col-md-5 pt-md-10">
                <div class="row d-flex align-center">
                    <div class="offset-md-2 col-md-8 pt-15">
                        <div class="pt-5 pb-2 text-center">
                            <h1 class="pt-md-3 font-title">¡Restablece tu contraseña!</h1>
                            <p class="text-muted py-1"><strong>{{firstname}}</strong> escribe una contraseña que te sea facil de recordar y que cumpla con las reglas establecidas.</p>
                            <div class="py-1">
                                <p class="text-muted">Tu correo electronico es : <strong>{{email}}</strong></p>
                            </div>
                        </div>
                        <form class="pt-md-5 pt-10 px-md-0 px-5">
                            <input type="hidden" name="token" v-model="token">
                            <v-text-field
                                v-model="password"
                                label="Nueva contraseña"
                                outlined
                                required
                                :error-messages="passwordErrors"
                                @input="$v.password.$touch()"
                                @blur="$v.password.$touch()"
                                @click:append="showPassword = !showPassword"
                                :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                                :type="showPassword ? 'text' : 'password'"
                                class="input-group--focused"
                            ></v-text-field>
                            <v-btn
                                color="primary"  elevation="2"
                                rounded x-large  block
                                :loading="validating" :disabled="unauthorized"
                                @click="handleResetPassword"
                            >
                                Cambiar contraseña
                            </v-btn>
                        </form>
                        <v-snackbar
                            :color=snackbar_color
                            right bottom
                            v-model="snackbar"
                            :timeout="timeout"
                        >
                            {{ snackbar_text }}
                            <template v-slot:action="{ attrs }">
                                <v-btn
                                    :color="snackbar_color== 'error' ? 'white':'black'"
                                    text
                                    v-bind="attrs"
                                    @click="snackbar = false"
                                >
                                    cerrar
                                </v-btn>
                            </template>
                        </v-snackbar>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, minLength} from 'vuelidate/lib/validators'
export default {
    name: "Email",
    metaInfo: {
        title: 'Restablecer contraseña',
    },
    props:['data_token','data_email','data_firstname'],
    mixins: [validationMixin],
    validations: {
        password: { required, minLength: minLength(8) },
    },
    data: () => ({
        token:'',
        email: '',
        firstname: '',
        password : '',
        showPassword: false,
        unauthorized: false,
        validating: false,
        snackbar: false,
        snackbar_text: '',
        snackbar_color: 'error',
        timeout: 5000,
    }),
    created() {
        this.token = this.data_token;
        this.email = this.data_email;
        this.firstname = this.data_firstname;
    },
    computed: {
        passwordErrors () {
            const errors = []
            if (!this.$v.password.$dirty) return errors
            !this.$v.password.minLength && errors.push('La contraseña debe de tener como minimo 8 caracteres.')
            !this.$v.password.required && errors.push('Debes ingresar tu nueva contraseña.')
            return errors
        },
    },
    methods:{
        handleResetPassword(){
            this.$v.$touch()
            if (!this.$v.$invalid) {

                this.validating=true
                this.$inertia.post(route('password.update'),{
                    'token':this.token,
                    'email':this.email,
                    'password':this.password,
                    'password_confirmation':this.password,
                },{
                    onSuccess:(response) =>{
                        this.snackbar_text = 'Todo listo, Tu contraseña ha sido actualizada.'
                        this.snackbar_color= 'success'
                        this.snackbar = true
                        this.unauthorized=true
                    },onError:(err)=> {
                         console.log(err);
                        this.snackbar_text = 'Lo sentimos, ha ocurrido un error al restablecer tu contraseña, comunicate con el adminstrador del sistema.'
                        this.snackbar_color= 'error'
                        this.snackbar = true
                        this.unauthorized=true
                    }
                })
            }
        }
    }
}
</script>

<style scoped>
.cover-img{
    background-image: url('/images/coverLogin2.jpg');
    min-height: 94vh;
    width: calc(100% - 560px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    position: relative;
}
</style>
