<template>
    <div class="container-fluid mt-1">
        <div id="nosotros" class="row" >
            <div class="d-flex align-items-center col-xs-12 col-md-7  order-2 order-md-1">
                <div class="pl-md-5 pt-5">
                    <h1 class="publicText" >! Dejanos concentirte</h1>
                    <h1 class="publicText" >como tu te mereces!</h1>
                    <br>
                    <div>
                        <p class="text-secondary" >Valentina Company es un negocio Guatemalteco, pensado para las mujeres que desean ser consentidas de una forma diferente, con servicios de belleza y bienestar utilizando tecnología estética y productos de alta calidad.</p>
                    </div>
                    <div class="text-center pt-5 pb-5 pb-md-0" data-aos="fade-up"  data-aos-easing="easeOutSine" data-aos-duration="1000" data-aos-delay="1000">
                        <a href="https://wa.me/50238612160?text=Me%20gustaría%20agendar%20una%20cita" class="btn btn-primary btn-lg text-white">Quiero una cita</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-5 my-3 order-1 order-md-2">
                <div class="d-flex justify-content-md-end justify-content-sm-center">
                    <img class="ml-md-5 mt-md-3 img-fluid"  src="/images/uñas.png" data-aos="fade-left"  data-aos-easing="easeOutSine" data-aos-duration="1200">
                    <div class="bg-dark position-absolute img-fluid square-dark" data-aos="fade-up"  data-aos-easing="easeOutSine" data-aos-duration="1000"  data-aos-delay="200">
                    </div>
                </div>
            </div>
            <div class="custom-shape-divider-bottom-1625769054 order-3 order-md-3">
                <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                    <path d="M1200 0L0 0 892.25 114.72 1200 0z" class="shape-fill"></path>
                </svg>
            </div>
        </div>
        <div id="servicios" class="row bg-rose pt-0 pb-3" >
            <div class="col-md-12 py-5 text-center">
                <h1 class="pt-5 publicText" data-aos="fade-in"  data-aos-duration="1000">Nuestros servicios</h1>
            </div>
            <div class="col-md-4 px-4" data-aos="fade-in"  data-aos-easing="easeOutSine" data-aos-duration="800" data-aos-delay="250" >
                <div class="d-flex justify-content-start">
                    <img src="/images/cabello.webp" alt="servicio de cabello" class="img-fluid img-service" loading="lazy" >
                </div>
                <h4 class="pt-4">Cabello</h4>
                <p>Contamos con una gran variedad de servicios para tu cabello, los cuales son realizado por nuestro personal altamente capacitado e inovador, buscando el mejor cuidado y apariencia para tu cabello.</p>
            </div>
            <div class="col-md-4 px-4" data-aos="fade-in"  data-aos-easing="easeOutSine" data-aos-duration="800" data-aos-delay="500">
                <div class="d-flex justify-content-start">
                    <img src="/images/uñas.webp" alt="servicio de cabello" class="img-fluid img-service" loading="lazy">
                </div>
                <h4 class="pt-4">Uñas</h4>
                <p>Nos aseguramos que cada servicio o tratamiento en tus manos o pies brinden la mayor satisfacción utilizando productos de alta calidad, realizando diferentes tipos de estilos desde los clasicos hasta los mas creativos.</p>
            </div>
            <div class="col-md-4 px-4" data-aos="fade-in"  data-aos-easing="easeOutSine" data-aos-duration="800" data-aos-delay="1000">
                <div class="d-flex justify-content-start">
                    <img src="/images/masaje.webp" alt="servicio de cabello" class="img-fluid img-service" loading="lazy">
                </div>
                <h4 class="pt-4">Spa</h4>
                <p>En nuestra area de spa, contamos con un ambiente agradable y armonioso, donde puedes optar por diferentes servicios que van desde masajes de relajación hasta sesiones de tratamientos reductores con instrumentos de alta calidad.</p>
            </div>
        </div>
        <div id="contacto" class="row ">
            <div class="custom-shape-divider-top-1628632608">
                <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                    <path d="M1200 0L0 0 892.25 114.72 1200 0z" class="shape-fills"></path>
                </svg>
            </div>
            <div class="col-md-12 py-5 text-center">
                <h1 class="pt-3 publicText" data-aos="fade-in"  data-aos-easing="easeOutSine" data-aos-duration="1000">Contactanos</h1>
                <p class="text-muted pt-3" data-aos="fade-in"  data-aos-easing="easeOutSine" data-aos-duration="1000" data-aos-delay="500">Para nostros será un gusto atenderte.</p>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-center py-0">
                        <div class="bg-primary p-3 d-flex justify-content-center" data-aos="fade-right"  data-aos-duration="1000">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d241.10323253248234!2d-90.19893530736762!3d14.788636888226023!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sgt!4v1628615510918!5m2!1ses!2sgt"
                                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            ></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12 py-md-0 pt-5 pb-0">
                        <p><strong class="text-primary">Telefono: </strong>3861-2160</p>
                    </div>
                    <div class="col-md-12 py-0">
                        <p><strong class="text-primary">Facebook: </strong><a href="https://www.facebook.com/cosmo.valentina.3" class="link">Valentina Salon y Spa</a></p>
                    </div>
                    <div class="col-md-12 py-0">
                        <p><strong class="text-primary">Dirección: </strong> 2da calle 1-60, ave ismael arriaza, Sanarate el progreso, a un costado de FairPlay.</p>
                    </div>
                    <div class="col-md-12 py-0">
                        <div class="d-flex justify-content-md-end pb-2"  data-aos="fade-up"  data-aos-easing="easeOutSine" data-aos-duration="1000" data-aos-delay="500">
                            <img src="/images/contacto.png" alt="persona al telefono" class="img-fluid" style="max-width: 350px" loading="lazy">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="https://wa.me/50238612160?text=Me%20gustaría%20agendar%20una%20cita" class="whatsapp" target="_blank">
            <img class="whatsapp-icon" src="/images/icons/whatsapp.png" alt="whatsapp">
        </a>

    </div>
</template>
<script>
import AOS from 'aos';
import 'aos/dist/aos.css'

export default {
    name: "Index",

    created() {
        AOS.init()
    },

}
</script>

<style scoped>
    .whatsapp {
        position:fixed;
        width:60px;
        height:60px;
        bottom:40px;
        right:40px;
        background-color:#25d366;
        color:#FFF;
        border-radius:50px;
        text-align:center;
        font-size:30px;
        z-index:100;
    }

    .whatsapp-icon {
        margin-top:6px;
    }

    .square-dark{
        width: 150px;
        height: 150px;
        z-index: -1;
        left: 100px;
        bottom: 65px;
    }

    .img-service{
        width: 450px;
    }

    @media (max-width: 599px) {
        .square-dark{
            width: 85px;
            height: 85px;
            z-index: -1;
            left: 50px;
            bottom: 50px;
        }
        .img-service{
            width: auto;
        }
        iframe{
            width: auto;
            height: 200px ;
        }
    }


</style>
