<template>
  <div>
      <v-list-item-group v-model="selectedItem" color="primary" >
          <!-- Item Dashboard-->
          <v-list-item
              v-if="$page.props.auth.user.permission.includes('private.dashboard.employee') || $page.props.auth.user.permission.includes('private.dashboard.admin') "
              :key="1"
              active-class="grey darken-4 white--text"
              @click="handleNavigation('private.dashboard')"
          >
              <v-list-item-icon>
                  <v-icon>mdi-view-dashboard</v-icon>
              </v-list-item-icon>
              <v-list-item-content>
                  <v-list-item-title>
                      Dashboard
                  </v-list-item-title>
              </v-list-item-content>
          </v-list-item>
          <!-- Item Contactos-->
          <v-list-group
              v-if="$page.props.auth.user.permission.includes('customers.index') || $page.props.auth.user.permission.includes('suppliers.index')"
              color="primary"
              active-class="pink lighten-1 black--text"
              class="primary black--text"
              no-action
          >
              <template v-slot:activator class="pink darken-3 black--text">
                  <v-list-item-icon>
                      <v-icon>mdi-contacts</v-icon>
                  </v-list-item-icon>
                  <v-list-item-content>
                      <v-list-item-title>Contactos</v-list-item-title>
                  </v-list-item-content>
              </template>
              <!-- Item Clientes-->
              <v-list-item
                  v-if="$page.props.auth.user.permission.includes('customers.index')"
                  :key="2" active-class="grey darken-4 white--text"
                  @click="handleNavigation('customers.index')"
              >
                  <v-list-item-content>
                      <v-list-item-title>
                          Clientes
                      </v-list-item-title>
                  </v-list-item-content>
              </v-list-item>
              <!-- Item Proveedores-->
              <v-list-item
                  v-if="$page.props.auth.user.permission.includes('suppliers.index')"
                  :key="3" active-class="grey darken-4 white--text"
                  @click="handleNavigation('suppliers.index')"
              >
                  <v-list-item-content>
                      <v-list-item-title>
                          Proveedores
                      </v-list-item-title>
                  </v-list-item-content>
              </v-list-item>
          </v-list-group>
          <!-- Item Productos-->
          <v-list-group
              v-if="$page.props.auth.user.permission.includes('products.index') || $page.props.auth.user.permission.includes('productCategories.index') || $page.props.auth.user.permission.includes('productBrands.index') || $page.props.auth.user.permission.includes('productGroups.index') || $page.props.auth.user.permission.includes('measurementUnits.index')"
              color="primary"
              active-class="pink lighten-1 black--text"
              class="primary black--text"
              no-action
          >
              <template v-slot:activator class="pink darken-3 black--text">
                  <v-list-item-icon>
                      <v-icon>mdi-shopping</v-icon>
                  </v-list-item-icon>
                  <v-list-item-content>
                      <v-list-item-title>Productos</v-list-item-title>
                  </v-list-item-content>
              </template>
              <!-- Item Catalogo-->
              <v-list-item
                  v-if="$page.props.auth.user.permission.includes('products.index')"
                  :key="4" active-class="grey darken-4 white--text"
                  @click="handleNavigation('products.index')"
              >
                  <v-list-item-content>
                      <v-list-item-title>
                          Catalogo
                      </v-list-item-title>
                  </v-list-item-content>
              </v-list-item>
              <!-- Item marcas-->
              <v-list-item
                  v-if="$page.props.auth.user.permission.includes('productBrands.index')"
                  :key="5" active-class="grey darken-4 white--text"
                  @click="handleNavigation('productBrands.index')"
              >
                  <v-list-item-content>
                      <v-list-item-title>
                          Marcas
                      </v-list-item-title>
                  </v-list-item-content>
              </v-list-item>
              <!-- Item Categorias-->
              <v-list-item
                  v-if="$page.props.auth.user.permission.includes('productCategories.index')"
                  :key="6" active-class="grey darken-4 white--text"
                  @click="handleNavigation('productCategories.index')"
              >
                  <v-list-item-content>
                      <v-list-item-title>
                          Categorias
                      </v-list-item-title>
                  </v-list-item-content>
              </v-list-item>
              <!-- Item Grupos-->
              <v-list-item
                  v-if="$page.props.auth.user.permission.includes('productGroups.index')"
                  :key="7" active-class="grey darken-4 white--text"
                  @click="handleNavigation('productGroups.index')"
              >
                  <v-list-item-content>
                      <v-list-item-title>
                          Grupos
                      </v-list-item-title>
                  </v-list-item-content>
              </v-list-item>
              <!-- Item Unidades de medida-->
              <v-list-item
                  v-if="$page.props.auth.user.permission.includes('measurementUnits.index')"
                  :key="8" active-class="grey darken-4 white--text"
                  @click="handleNavigation('measurementUnits.index')"
              >
                  <v-list-item-content>
                      <v-list-item-title>
                          Unidades de medida
                      </v-list-item-title>
                  </v-list-item-content>
              </v-list-item>
          </v-list-group>
          <!-- Item Compras-->
          <v-list-item
              v-if="$page.props.auth.user.permission.includes('purchases.index')"
              :key="9"
              active-class="grey darken-4 white--text"
              @click="handleNavigation('purchases.index')"
          >
              <v-list-item-icon>
                  <v-icon>mdi-truck-delivery</v-icon>
              </v-list-item-icon>
              <v-list-item-content>
                  <v-list-item-title>
                      Compras
                  </v-list-item-title>
              </v-list-item-content>
          </v-list-item>
          <!-- Item Ventas-->
          <v-list-item
              v-if="$page.props.auth.user.permission.includes('sales.index')"
              :key="10"
              active-class="grey darken-4 white--text"
              @click="handleNavigation('sales.index')"
          >
              <v-list-item-icon>
                  <v-icon>mdi-cash-register</v-icon>
              </v-list-item-icon>
              <v-list-item-content>
                  <v-list-item-title>
                      Ventas
                  </v-list-item-title>
              </v-list-item-content>
          </v-list-item>
          <!-- Item Reporteria-->
          <v-list-group
              v-if="$page.props.auth.user.permission.includes('reports.stock') || $page.props.auth.user.permission.includes('reports.salesHistory') || $page.props.auth.user.permission.includes('reports.purchasesHistory') "
              color="primary"
              active-class="pink lighten-1 black--text"
              class="primary black--text"
              no-action
          >
              <template v-slot:activator class="pink darken-3 black--text">
                  <v-list-item-icon>
                      <v-icon>mdi-chart-bar</v-icon>
                  </v-list-item-icon>
                  <v-list-item-content>
                      <v-list-item-title>Reporteria</v-list-item-title>
                  </v-list-item-content>
              </template>
              <!-- Item Inventario-->
              <v-list-item
                  isActive="true"
                  v-if="$page.props.auth.user.permission.includes('reports.stock')"
                  :key="11" active-class="grey darken-4 white--text"
                  @click="handleNavigation('reports.stock')"
              >
                  <v-list-item-content>
                      <v-list-item-title>
                          Inventario
                      </v-list-item-title>
                  </v-list-item-content>
              </v-list-item>
              <!-- Item Reporte de ventas-->
              <v-list-item
                  active="true"
                  v-if="$page.props.auth.user.permission.includes('reports.salesHistory')"
                  :key="12" active-class="grey darken-4 white--text"
                  @click="handleNavigation('reports.salesHistory')"
              >
                  <v-list-item-content>
                      <v-list-item-title>
                          Historial de Ventas
                      </v-list-item-title>
                  </v-list-item-content>
              </v-list-item>
              <!-- Item Reporte de compras-->
              <v-list-item
                  v-if="$page.props.auth.user.permission.includes('reports.purchasesHistory')"
                  :key="13"
                  active-class="grey darken-4 white--text"
                  @click="handleNavigation('reports.purchasesHistory')"
              >
                  <v-list-item-content>
                      <v-list-item-title>
                          Historial de Compras
                      </v-list-item-title>
                  </v-list-item-content>
              </v-list-item>
          </v-list-group>
          <!-- Item Configuraciones-->
          <v-list-item
              v-if="$page.props.auth.user.permission.includes('config.index')"
              :key="14"
              active-class="grey darken-4 white--text"
              @click="handleNavigation('config.index')"
          >
              <v-list-item-icon>
                  <v-icon>mdi-cogs</v-icon>
              </v-list-item-icon>
              <v-list-item-content>
                  <v-list-item-title>
                      Configuraciones
                  </v-list-item-title>
              </v-list-item-content>
          </v-list-item>
      </v-list-item-group>
  </div>
</template>

<script>
export default {
    name: "mainMenu",
    data () {
        return {
            selectedItem: 0,
        }
    },
    methods:{
        handleNavigation(routeApp){
            this.$inertia.get(route(routeApp))
        },

    }
}
</script>

<style scoped>

</style>
