<template>
    <div>
        <v-app>

            <v-navigation-drawer v-model="drawer" app  color="primary">
                <v-list-item>
                    <v-list-item-content class="justify-center">
                        <v-img
                            max-height="60"
                            max-width="60"
                            src="/images/logo.png"
                            position="center center"
                        ></v-img>
                        <v-list-item-title class="text-h5 text-center">
                            Valentina
                        </v-list-item-title>
                        <v-list-item-subtitle class="text-center">
                            Salon y Spa
                        </v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>
                <v-divider></v-divider>
                <v-list dense nav >
                    <main-menu />
                </v-list>
            </v-navigation-drawer>

            <v-app-bar app dense color="white">
                <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
                <v-spacer></v-spacer>
                <v-menu transition="slide-y-transition" bottom>
                    <template v-slot:activator="{ on, attrs }">
                        <v-avatar color="primary"  size="34" v-bind="attrs" v-on="on">
                            <span class="white--text">{{$page.props.auth.user.initials}}</span>
                        </v-avatar>
                    </template>
                    <v-card>
                        <v-list-item-content class="justify-center">
                            <div class="mx-15 text-center">
                                <v-avatar
                                    color="primary"
                                >
                                    <span class="white--text text-h5">{{$page.props.auth.user.initials}}</span>
                                </v-avatar>
                                <h6>{{$page.props.auth.user.fullName}}</h6>
                                <p class="text-caption mt-1">
                                    {{$page.props.auth.user.email}}
                                </p>
                                <v-divider class="my-3"></v-divider>
                                <v-btn color="secondary" @click="handleLogout">
                                    Salir
                                </v-btn>
                            </div>
                        </v-list-item-content>
                    </v-card>
                </v-menu>

            </v-app-bar>

            <v-main class="grey lighten-4">
                <v-container fluid >
                    <slot></slot>
                </v-container>
            </v-main>
        </v-app>
    </div>
</template>

<script>
import mainMenu from "../mainMenu";
export default {
    name: "AppLayout",
    metaInfo: {
        titleTemplate: 'Valentina Company - %s ',
    },
    components:{
        mainMenu
    },
    data () {
        return {
            drawer: null,
        }
    },
    methods:{
        handleLogout(){
            this.$inertia.post(route('logout'))
        }
    }
}
</script>

<style scoped>

</style>
