<template>
    <div>
        <nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm sticky-top ">
            <div class="container-fluid px-0">
                <div class="d-inline-flex">
                    <img  src="/images/logo.jpg"  alt="logo" width="40px" height="40">
                    <h4  class="publicText pt-2 pl-2">Valentina</h4>
                </div>
                <button class="navbar-toggler ml-auto mr-2" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Navegacion">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#nosotros">Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#servicios">Servicios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contacto">contacto</a>
                        </li>

                    </ul>
                </div>
                <div class="pl-sm-2">
                    <button class="btn btn-primary" @click="toLogin">Login</button>
                </div>
            </div>
        </nav>
        <main class="pb-5">
            <slot></slot>
        </main>
        <div class="footer bg-dark pt-3 text-white">Valentina Company {{currentYear}}</div>
    </div>
</template>

<script>
export default {
    name: "PublicLayout",
    metaInfo: {
        titleTemplate: 'Valentina Company - %s ',
    },
    methods:{
        toLogin(){
            this.$inertia.get('login');
        }
    },
    computed: {
        currentYear(){
            return new Date().getFullYear()
        }
    }
}
</script>

<style scoped>
    .footer {
        right: 0;
        bottom: 0;
        left: 0;
        padding: 1rem;
        text-align: center;
    }
</style>
