<template>
    <div>
        <v-app>
            <nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm sticky-top ">
                <div class="container-fluid px-0">
                    <div class="d-inline-flex">
                        <img  src="/images/logo.jpg"  alt="logo" width="40px" height="40">
                        <h4 class="publicText pt-2 pl-2"><inertia-link :href="route('public.index')" class="pr-4 black--text">Valentina</inertia-link></h4>
                    </div>
                </div>
            </nav>
            <main>
                <slot></slot>
            </main>
        </v-app>
    </div>
</template>

<script>

export default {
    name: "PublicLayout",
    metaInfo: {
        titleTemplate: 'Valentina Company - %s ',
    },
}
</script>

<style scoped>

</style>
