<template>
    <div>
        <v-container fluid>
            <v-row>
                <v-col col="12" sm="12" md="12">
                    <h3>Historial de compras</h3>
                </v-col>
            </v-row>
            <v-row>
                <v-card style="width: 100%">
                    <v-card-text>
                        <v-col cols="12" sm="12" md="12">
                            <v-row>
                                <v-col cols="12" md="3" sm="6" offset-md="1">
                                    <v-menu
                                        ref="menu"
                                        v-model="menu"
                                        :close-on-content-click="false"
                                        :return-value.sync="searchDateFrom"
                                        transition="scale-transition"
                                        offset-y
                                        min-width="auto"
                                    >
                                        <template v-slot:activator="{ on, attrs }">
                                            <v-text-field
                                                v-model="computedDateFormFormatted"
                                                label="Fecha inicio :" readonly
                                                placeholder="has clic aqui."
                                                v-bind="attrs" v-on="on"
                                                outlined
                                                dense
                                            ></v-text-field>
                                        </template>
                                        <v-date-picker v-model="searchDateFrom" locale="es-Es"
                                                       no-title scrollable
                                        >
                                            <v-spacer></v-spacer>
                                            <v-btn text color="secondary"
                                                   @click="menu = false"
                                            >
                                                Cancelar
                                            </v-btn>
                                            <v-btn text color="primary"
                                                   @click="$refs.menu.save(searchDateFrom)"
                                            >
                                                Elegir
                                            </v-btn>
                                        </v-date-picker>
                                    </v-menu>
                                </v-col>
                                <v-col cols="12" md="3" sm="6">
                                    <v-menu
                                        ref="menuTo"
                                        v-model="menuTo"
                                        :close-on-content-click="false"
                                        :return-value.sync="searchDateTo"
                                        transition="scale-transition"
                                        offset-y
                                        min-width="auto"
                                    >
                                        <template v-slot:activator="{ on, attrs }">
                                            <v-text-field
                                                v-model="computedDateFormTomatted"
                                                label="Fecha fin :" readonly
                                                placeholder="has clic aqui."
                                                v-bind="attrs" v-on="on"
                                                outlined
                                                dense
                                            ></v-text-field>
                                        </template>
                                        <v-date-picker v-model="searchDateTo" locale="es-Es"
                                                       no-title scrollable
                                        >
                                            <v-spacer></v-spacer>
                                            <v-btn text color="secondary"
                                                   @click="menuTo = false"
                                            >
                                                Cancelar
                                            </v-btn>
                                            <v-btn text color="primary"
                                                   @click="$refs.menuTo.save(searchDateTo)"
                                            >
                                                Elegir
                                            </v-btn>
                                        </v-date-picker>
                                    </v-menu>
                                </v-col>
                                <v-col cols="12" md="3" sm="6">
                                    <v-select
                                        v-model="searchState"
                                        :items="statesPurchase"
                                        item-text="name"
                                        item-value="code"
                                        label="Estado"
                                        outlined
                                        dense
                                    ></v-select>
                                </v-col>
                                <v-col cols="12" md="1" sm="12">
                                    <v-btn dark color="secondary"  block @click="search">
                                        <v-icon>mdi-magnify</v-icon>
                                    </v-btn>
                                </v-col>
                            </v-row>
                        </v-col>
                        <v-col cols="12" md="12" sm="12" align="center">
                            <v-row>
                                <v-col cols="12" md="4" sm="12" offset-md="1" class="d-flex justify-content-md-end pr-md-10">
                                    <h5 class="primary--text">cantidad de ventas: <span class="secondary--text">{{numberOfPurchases}}</span></h5>
                                </v-col>
                                <v-col cols="12" md="4" sm="12" class="d-flex justify-content-md-center">
                                    <h5 class="primary--text">suma total: <span class="secondary--text">Q {{totalPurchases}}</span></h5>
                                </v-col>
                            </v-row>
                        </v-col>
                        <v-col col="12" sm="12" md="12" align="center" align-self="center">
                            <div v-if="purchases.data.length>0">
                                <v-simple-table
                                    fixed-header
                                    height="300px"
                                >
                                    <template v-slot:default>
                                        <thead>
                                        <tr>
                                            <th class="text-left">
                                                correlativo
                                            </th>
                                            <th class="text-left">
                                                Fecha y Hora
                                            </th>
                                            <th class="text-left">
                                                Cliente
                                            </th>
                                            <th class="text-left">
                                                Tipo de pago
                                            </th>
                                            <th class="text-left">
                                                no. articulos
                                            </th>
                                            <th class="text-left">
                                                subtotal
                                            </th>
                                            <th class="text-left">
                                                descuento
                                            </th>
                                            <th class="text-left">
                                                total
                                            </th>
                                            <th class="text-left">
                                                realizada por
                                            </th>
                                            <th class="text-left">
                                                estado
                                            </th>
                                            <th class="text-left">
                                                acciones
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr
                                            v-for="item in purchases.data"
                                            :key="item.id"
                                        >
                                            <td>{{item.correlative}}</td>
                                            <td>{{item.created_at}}</td>
                                            <td>{{item.supplier.name}}</td>
                                            <td>{{item.payment_type.name}}</td>
                                            <td>{{item.itemsQuantity}}</td>
                                            <td><span>Q {{item.subtotal}}</span></td>
                                            <td>
                                                <span v-if="item.discount>0">Q{{ item.amountDiscount }} ({{item.discount}}%)</span>
                                                <span v-else>no aplicado</span>
                                            </td>
                                            <td><span>Q {{item.total}}</span></td>
                                            <td>{{item.employee.name}} {{item.employee.lastname}}</td>
                                            <td>
                                                <v-chip small :color="item.canceled === 1? 'grey lighten-4' : 'pink lighten-4'">
                                                    <span v-if="item.canceled === 1">cancelada</span>
                                                    <span v-else>cobrada</span>
                                                </v-chip>
                                            </td>
                                            <td>
                                                <v-icon v-if="$page.props.auth.user.permission.includes('sales.cancel')"
                                                        small @click="assingPurchase(item,'watch')">mdi-eye</v-icon>
                                                <v-icon v-if="$page.props.auth.user.permission.includes('sales.cancel') && item.canceled === 0"
                                                        small  @click="assingPurchase(item,'cancel')">mdi-delete</v-icon>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </template>
                                </v-simple-table>
                                <div v-if="purchases.links.length > 2" >
                                    <div class="d-flex flex-wrap mb-2 pl-md-5">
                                        <template v-for="(link, key) in purchases.links">
                                            <div v-if="link.url === null" :key="key" class="mr-1 mb-1 px-4 py-3 text-sm leading-4 text-gray-400 border rounded" v-html="link.label" />
                                            <inertia-link v-else :key="key" class="mr-1 mb-1 px-4 py-3 text-sm leading-4 border rounded " :class="{ 'primary white--text': link.active }" :href="searchDateFrom?link.url+'&searchDateFrom='+searchDateFrom+'&searchDateTo='+searchDateTo+'&searchState='+searchState:link.url" v-html="link.label" />
                                        </template>
                                    </div>
                                </div>
                            </div>
                            <div v-else class="pt-5">
                                <v-list-item class="p-0" >
                                    <v-list-item-content class="py-12 d-flex justify-center" align="center">
                                        <v-img
                                            max-height="60"
                                            max-width="60"
                                            src="/images/icons/feliz.png"
                                            position="center center"
                                        ></v-img>
                                        <p class="pt-3">{{$page.props.auth.user.name}}, Parece que no tienes ningúna venta en las fechas filtradas.</p>
                                    </v-list-item-content>
                                </v-list-item>
                            </div>
                        </v-col>
                    </v-card-text>
                </v-card>
            </v-row>
            <v-dialog v-if="$page.props.auth.user.permission.includes('purchases.cancel')" v-model="dialogCancel" max-width="500px" persistent >
                <v-card>
                    <v-list-item class="p-0" >
                        <v-list-item-content class="pt-8 d-flex justify-center" align="center">
                            <v-img
                                max-height="60"
                                max-width="60"
                                src="/images/icons/precaucion.png"
                                position="center center"
                            ></v-img>
                            <p class="pt-3">¿{{$page.props.auth.user.name}}, Realmente deseas anular la compra?</p>
                            <p><small class="text-muted">Todos los articulos en esta compra serán eliminados del inventario.</small></p>
                        </v-list-item-content>
                    </v-list-item>
                    <v-card-actions >
                        <v-spacer></v-spacer>
                        <v-btn color="secondary" text @click="closeDialog('dialogCancel')">No</v-btn>
                        <v-btn color="primary" text @click="cancelPurchaseConfirm">Si, Anular compra</v-btn>
                        <v-spacer></v-spacer>
                    </v-card-actions>
                </v-card>
            </v-dialog>
            <v-dialog v-if="$page.props.auth.user.permission.includes('purchases.show')" v-model="detailDialog" max-width="800px" persistent >
                <v-card>
                    <v-card-title>
                        <span class="text-h5">Venta <span class="primary--text">{{tempPurchase.correlative}}</span></span>
                        <v-spacer></v-spacer>
                        <span class="text-h6 text-muted">{{tempPurchase.created_at}}</span>
                    </v-card-title>
                    <v-card-text>
                        <v-form>
                            <v-container>
                                <v-row>
                                    <v-col cols="12" sm="12" md="12">
                                        <v-simple-table fixed-header>
                                            <template v-slot:default>
                                                <thead>
                                                <tr>
                                                    <th class="text-left">
                                                        Producto
                                                    </th>
                                                    <th class="text-left">
                                                        Cantidad
                                                    </th>
                                                    <th class="text-left">
                                                        Precio
                                                    </th>
                                                    <th class="text-left">
                                                        Total
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr v-for="item in purchaseDetail" :key="item.id">
                                                    <td>
                                                        <v-tooltip top>
                                                            <template v-slot:activator="{ on, attrs }">
                                                            <span
                                                                v-bind="attrs"
                                                                v-on="on"
                                                            ><small><strong>{{ item.product_name}}</strong></small></span>
                                                            </template>
                                                            <div>
                                                                <span>Precio actual: Q {{ item.product_price }}</span>
                                                            </div>
                                                        </v-tooltip>
                                                    </td>
                                                    <td>
                                                        {{ item.quantity }}
                                                    </td>
                                                    <td>
                                                        <span>Q {{ item.price }}</span>
                                                    </td>
                                                    <td>
                                                        <span>Q {{ item.total }}</span>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </template>
                                        </v-simple-table>
                                    </v-col>
                                </v-row>
                            </v-container>
                        </v-form>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="secondary" text @click="closeDialog('detailDialog')" >
                            <span>Cerrar</span>
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
            <v-snackbar
                :color=snackbar_color
                right top
                v-model="snackbar"
                :timeout="timeout"
            >
                {{ snackbar_text }}
                <template v-slot:action="{ attrs }">
                    <v-btn
                        :color="snackbar_color== 'error' ? 'white':'white'"
                        text
                        v-bind="attrs"
                        @click="snackbar = false"
                    >
                        cerrar
                    </v-btn>
                </template>
            </v-snackbar>
        </v-container>
    </div>
</template>
<script>
export default {
    name: "PurchasesH",
    metaInfo: {
        title: 'Historial de compras',
    },
    props: {
        purchases: Object,
        data_searchDateFrom : '',
        data_searchDateTo : '',
        data_searchState : '',
        numberOfPurchases: '',
        totalPurchases: '',
    },
    data(){
        return{
            menu: false,
            menuTo: false,
            tempPurchase: '',
            purchaseDetail: [],
            detailDialog : false,
            dialogCancel : false,
            searchDateFrom : '',
            searchDateTo : '',
            searchState : '',
            statesPurchase: [
                {code: "1",name:'todas'},
                {code: "2",name:'aprobada'},
                {code: "3",name:'cancelada'},
            ],
            snackbar: false,
            snackbar_text: '',
            snackbar_color: 'error',
            timeout: 3000,
        }
    },
    computed:{
        computedDateFormFormatted () {
            return this.formatDate(this.searchDateFrom)
        },
        computedDateFormTomatted () {
            return this.formatDate(this.searchDateTo)
        },
    },
    created() {
        this.searchDateFrom = this.data_searchDateFrom
        this.searchDateTo = this.data_searchDateTo
        this.searchState = this.data_searchState
    },
    methods:{
        /*Notificaciones*/
        openSnack(text,color){
            this.snackbar_text= text
            this.snackbar_color= color
            this.snackbar=true
        },
        formatDate (date) {
            if (!date) return null
            const [year, month, day] = date.split('-')
            return `${day}/${month}/${year}`
        },
        closeDialog(typeDialog){
            typeDialog === "dialogCancel"? this.dialogCancel = false : this.detailDialog = false
            setTimeout(() => this.reset(),350)
        },
        cancelPurchaseConfirm () {
            this.handleCancelPurchase()
            this.closeDialog('dialogCancel')
        },
        reset(){
            this.tempPurchase = ''
            this.purchaseDetail = ''
        },
        assingPurchase: function (purchase, action) {
            this.tempPurchase = purchase
            if (action === "watch") {
                this.getPurchaseDetail()
                this.detailDialog = true
            } else {
                this.dialogCancel = true
            }
        },

        async getPurchaseDetail() {
            try {
                const response = await axios.get(route('purchases.detail',{purchase:this.tempPurchase}))
                this.purchaseDetail = response.data.purchaseDetail
            }
            catch (error) {
                console.log(error);
            }
        },
        async handleCancelPurchase(){
            axios.post(route('purchases.cancel'), {'purchaseId':this.tempPurchase.id} )
                .then( response => {
                    this.openSnack(response.data.message,"success")
                    setTimeout(() => this.$inertia.reload(),300)
                })
                .catch(error =>{
                    this.openSnack("ha ocurrido un error al momento de cancelar la compra, favor comuniquese con el administrador del sistema.","error")
                    console.log(error)
                })
        },
        search(){
            this.$inertia.get(route('reports.purchasesHistory'),{
                searchDateFrom: this.searchDateFrom,
                searchDateTo: this.searchDateTo,
                searchState: this.searchState,
            })
        }
    }
}
</script>

<style scoped>

</style>
