<template>
    <div>
        <v-container fluid>
            <v-row>
                <v-col sm="12" md="12" class="d-inline-flex">
                    <v-row>
                        <v-col cols="6" sm="6" md="6">
                            <h3>Inventario</h3>
                        </v-col>
                    </v-row>
                </v-col>
                <v-col sm="12" md="12">
                    <v-card>
                        <v-data-table
                            :headers="headers"
                            :items="stocks"
                            :search="search"
                            :loading="loadTable"
                            :items-per-page=5
                            loading-text="Un momento por favor..."
                            no-results-text="Lo sentimos no se ha encontrado un producto con esos datos de busqueda."
                            :header-props="{'sort-by-text':'Ordenar por'}"
                            :footer-props="{'items-per-page-text':'productos por página','items-per-page-all-text':'Todos'}"
                            class="elevation-1 p-md-5"
                        >
                            <template v-slot:top class="pb-15">
                                <v-toolbar flat class="pb-15" height="110">
                                    <v-row>
                                        <v-col cols="12" sm="12" md="6" offset-md="3" order="first" order-sm="last" >
                                            <v-text-field
                                                align="center"
                                                v-model="search"
                                                append-icon="mdi-magnify"
                                                label="Busca aquí por codigo o nombre"
                                                single-line
                                                hide-details
                                            ></v-text-field>
                                        </v-col>
                                    </v-row>
                                </v-toolbar>
                            </template>
                            <template v-if="$page.props.auth.user.permission.includes('private.dashboard.admin')" v-slot:item.purchasePrice="{item}">
                                <span>Q {{item.purchasePrice}}</span>
                            </template>
                            <template v-slot:item.salePrice="{item}">
                                <span>Q {{item.salePrice}}</span>
                            </template>
                            <template v-slot:item.stock="{item}">
                                <span>{{item.stock}}</span>
                                <span>{{item.measurementUnitName}}</span>
                            </template>
                            <template v-slot:no-data>
                                <v-list-item class="p-0" >
                                    <v-list-item-content class="py-12 d-flex justify-center" align="center">
                                        <v-img
                                            max-height="60"
                                            max-width="60"
                                            src="/images/icons/feliz.png"
                                            position="center center"
                                        ></v-img>
                                        <p class="pt-3">{{$page.props.auth.user.name}}, Parece que no tienes ningúna producto en inventario, puedes agregarlo creando una compra.</p>
                                    </v-list-item-content>
                                </v-list-item>
                            </template>
                        </v-data-table>
                    </v-card>
                </v-col>
            </v-row>
        </v-container>
    </div>
</template>

<script>
export default {
    name: "Stocks",
    metaInfo: {
        title: 'Inventario',
    },
    data: () => ({
        search: '',
        headers: [
            /*sortable: false,*/
            { text: 'Codigo', value: 'internalCode', align: 'start'},
            { text: 'Nombre', value: 'name' },
            { text: 'Marca', value: 'brandName', sortable: false  },
            { text: 'Grupo', value: 'groupName', sortable: false  },
            { text: 'Categoria', value: 'categoryName', sortable: false  },
            { text: 'Precio Venta', value: 'salePrice' },
            { text: 'Precio Compra', value: 'purchasePrice' },
            { text: 'Existencias', value: 'stock', sortable: false  },
        ],
        stocks: [],
        loadTable:true,
    }),
    created () {
        this.getProductGroups()
    },
    computed: {
        headers(){
            if( this.$page.props.auth.user.permission.includes('private.dashboard.admin') ){
                return  [
                    /*sortable: false,*/
                    { text: 'Codigo', value: 'internalCode', align: 'start'},
                    { text: 'Nombre', value: 'name' },
                    { text: 'Marca', value: 'brandName', sortable: false  },
                    { text: 'Grupo', value: 'groupName', sortable: false  },
                    { text: 'Categoria', value: 'categoryName', sortable: false  },
                    { text: 'Precio Compra', value: 'purchasePrice' },
                    { text: 'Precio Venta', value: 'salePrice' },
                    { text: 'Existencias', value: 'stock', sortable: false  },
                ]
            }else{
                return  [
                    /*sortable: false,*/
                    { text: 'Codigo', value: 'internalCode', align: 'start'},
                    { text: 'Nombre', value: 'name' },
                    { text: 'Marca', value: 'brandName', sortable: false  },
                    { text: 'Grupo', value: 'groupName', sortable: false  },
                    { text: 'Categoria', value: 'categoryName', sortable: false  },
                    { text: 'Precio Venta', value: 'salePrice' },
                    { text: 'Existencias', value: 'stock', sortable: false  },
                ]
            }
        }
    },
    methods: {
        async getProductGroups() {
            try {
                const response = await axios.get(route('reports.stock.list'))
                this.stocks  = response.data.stocks
                this.loadTable = false
            }
            catch (error) {
                console.log(error);
            }
        },
    },
}
</script>

<style scoped>

</style>
